<!-- menu -->
<nav class="primary-menu flat-primary-menu">

    <ul class="menu-container">
        <ul class="menu-container">
            <li class="menu-item">

                <span class="menu-link">
                    <div>Observation</div>
                </span>

                <ul class="sub-menu-container">
                    <li class="menu-item">
                        <span class="menu-link"><div>Annual Evolution</div></span>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <span class="menu-link"><div>Scientific Production</div></span>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <span class="menu-link"><div>World</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producao-mundo-pais-documentos"><div>Documents</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producao-mundo-pais-citacoes"><div>Citation</div></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <span class="menu-link"><div>Brazil</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producao-brasil-pais-documentos"><div>Documents</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producao-brasil-pais-citacoes"><div>Citation</div></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <span class="menu-link"><div>SciELO Network</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producao-redescielo-pais-documentos"><div>Documents</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Citation*</div></span>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Access*</div></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <span class="menu-link"><div>Social Production</div></span>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <span class="menu-link"><div>Brazil</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="/chart?menu_scope=evolucao-producaosocial-pais-documentos"><div>Documents</div></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <span class="menu-link"><div>Yearly</div></span>
                        <ul class="sub-menu-container">
                            <li class="menu-item">
                                <span class="menu-link"><div>Scientific Production</div></span>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <span class="menu-link"><div>World</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Documents*</div></span>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Citation*</div></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <span class="menu-link"><div>Brazil</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Documents*</div></span>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Citation*</div></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <span class="menu-link"><div>SciELO Network</div></span>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Documents*</div></span>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Citation*</div></span>
                                            </li>
                                            <li class="menu-item">
                                                <span class="menu-link"><div>Access*</div></span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
        </ul>

</nav>
<!-- menu -->