<!-- menu -->
<nav class="primary-menu flat-primary-menu">

  <ul class="menu-container">
    <ul class="menu-container">
      <li class="menu-item">

        <span class="menu-link">
          <div>Indicators</div>
        </span>

        <ul class="sub-menu-container">
          <li class="menu-item">
            <span class="menu-link"><div>Scientific Production</div></span>
            <ul class="sub-menu-container">
              <li class="menu-item">
                <span class="menu-link"><div>Document or Citation</div></span>
                <ul class="sub-menu-container">
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'indicator' 'world' %}"><div>World</div></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'indicator' 'brazil' %}"><div>Brazil</div></a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="{% url 'indicator_home' %}"><div>SciELO Network</div></a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="{% url 'indicator_journal_metrics' %}"><div>Journal</div></a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="{% url 'indicator' 'social' %}"><div>Social Production</div></a>
          </li>
        </ul>
      </li>
    </ul>

</nav>
<!-- menu -->