<!-- menu -->
<nav class="primary-menu flat-primary-menu">

  <ul class="menu-container">
    <ul class="menu-container">
      <li class="menu-item">

        <span class="menu-link">
          <div>Indicators</div>
        </span>

        <ul class="sub-menu-container">
          <li class="menu-item">
            <span class="menu-link"><div>Annual Evolution</div></span>
            <ul class="sub-menu-container">
              <li class="menu-item">
                <a class="menu-link" href="{% url 'sci_prod_world' %}"><div>World</div></a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="{% url 'sci_prod_brazil' %}"><div>Brazil</div></a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="{% url 'sci_prod_scielo' %}"><div>SciELO Network</div></a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="{% url 'soc_prod' %}"><div>Social Production</div></a>
          </li>
        </ul>

      </li>
    </ul>

</nav>
<!-- menu -->