<style>
    .tab-content {
        background: #fff;
        padding: 1rem;
        margin-top: 1rem;
    }

    .tab-links {
        display: flex;
        gap: 2rem;
        cursor: pointer;
    }

    .tab-links h4 {
        margin: 0;
        padding: .5rem 1rem;
        transition: background 0.3s;
    }

    .tab-links h4:hover {
        background: #f0f0f0;
        border-radius: .25rem;
    }

    .tab-links h4.active {
        background: #333;
        color: #fff;
        border-radius: .25rem;
    }

    .tab-pane {
        display: none;
    }

    .tab-pane.active {
        display: block;
        animation: fadeIn .3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mega-menu{
        background-color: #FFF;
        box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
        border: 1px solid #EEE;
        border-top: 2px solid #034E8E;
        color: #666;
    }


    .mega-menu a{
        color: #666;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 700
    }
    .mega-menu a:hover{
        color: #034E8E;
    }

    .menu-item-empty{
        padding: 0.25rem 1.5rem;
    }

    .menu-link.dropdown-toggle.show{
        color: #034E8E;
    }
</style>

<div class="collapse navbar-collapse" id="navbarMega">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="--nav-link menu-link dropdown-toggle" href="#" id="megaMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
        Observation
        </a>

        <div class="dropdown-menu dropdown-menu-right p-4 mega-menu" aria-labelledby="megaMenuLink" style="min-width: 900px;" data-bs-popper="static">

        <!-- Tab Links -->
        <div class="tab-links">
            <h4 data-target="#tab1">Annual Evolution</h4>
            <h4 data-target="#tab2">Yearly</h4>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- TAB 1 -->
            <div class="tab-pane" id="tab1">
            <h5 class="fw-bold mb-3 ms-3">Scientific Production</h5>
            <div class="row">
                <div class="col-md-4 ps-4 border-end">
                <h6 class="fw-bold ms-3">World</h6>
                <ul class="list-unstyled ps-4">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-mundo-pais-documentos">Documents</a></li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-mundo-pais-citacoes">Citation</a></li>
                    <li class="menu-item-empty">&nbsp;</li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-mundo-instituicao-pais-documentos">Documents</a></li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-mundo-instituicao-pais-citacoes">Citation</a></li> -->
                </ul>
                </div>
                <div class="col-md-4 border-end">
                <h6 class="fw-bold">Brazil</h6>
                <ul class="list-unstyled ps-2">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-brasil-pais-documentos">Documents</a></li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-brasil-pais-citacoes">Citation</a></li>
                    <li class="menu-item-empty">&nbsp;</li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-brasil-instituicao-pais-documentos">Documents</a></li>
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-brasil-instituicao-pais-citacoes">Citation</a></li> -->
                </ul>
                </div>
                <div class="col-md-4">
                <h6 class="fw-bold">SciELO Network</h6>
                <ul class="list-unstyled ps-2">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producao-redescielo-pais-documentos">Documents</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li><a class="dropdown-item" href="#">Access*</a></li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li><a class="dropdown-item" href="#">Acessos*</a></li> -->
                </ul>
                </div>
            </div>
            <h5 class="fw-bold mb-3 ms-3">Social Production</h5>
            <div class="row">
                <div class="col-md-4 ps-4 border-end">
                <h6 class="fw-bold ms-3">Brazil</h6>
                <ul class="list-unstyled ps-4">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="/chart?menu_scope=evolucao-producaosocial-pais-documentos">Documents</a></li>
                    <li class="menu-item-empty">&nbsp;</li>
                </ul>
                </div>
            </div>
            </div>

            <!-- TAB 2 -->
            <div class="tab-pane" id="tab2">
            <h5 class="fw-bold mb-3 ms-3">Scientific Production</h5>
            <div class="row">
                <div class="col-md-4 ps-4 border-end">
                <h6 class="fw-bold ms-3">World</h6>
                <ul class="list-unstyled ps-4">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li class="menu-item-empty">&nbsp;</li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li> -->
                </ul>
                </div>
                <div class="col-md-4 border-end">
                <h6 class="fw-bold">Brazil</h6>
                <ul class="list-unstyled ps-2">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li class="menu-item-empty">&nbsp;</li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li> -->
                </ul>
                </div>
                <div class="col-md-4">
                <h6 class="fw-bold">SciELO Network</h6>
                <ul class="list-unstyled ps-2">
                    <!-- <li class="fw-semibold">Country/Regions</li> -->
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li><a class="dropdown-item" href="#">Acessos*</a></li>
                    <!-- <li class="fw-semibold mt-2">Instituições</li>
                    <li><a class="dropdown-item" href="#">Documents*</a></li>
                    <li><a class="dropdown-item" href="#">Citation*</a></li>
                    <li><a class="dropdown-item" href="#">Acessos*</a></li> -->
                </ul>
                </div>
            </div>
            </div>

        </div>

        </div>
    </li>
    </ul>
    
</div>

<script>
    const tabs = document.querySelectorAll('.tab-links h4');
    const panes = document.querySelectorAll('.tab-pane');

    tabs.forEach(tab => {
        const target = document.querySelector(tab.dataset.target);
        tab.addEventListener('mouseenter', () => {
            panes.forEach(p => p.classList.remove('active'));
            tabs.forEach(t => t.classList.remove('active'));
            target.classList.add('active');
            tab.classList.add('active');
        });
    });

    // Exibir o primeiro por padrão
    if (panes.length) {
        panes[0].classList.add('active');
        tabs[0].classList.add('active');
    }
</script>