{% load string_filters %}
<li class="menu-item {% if request.path|startswith:'/indicators/world/' or request.GET.menu_scope|startswith:'evolucao-producao-' %}active{% endif %}">
    <span class="menu-link">
        <div>Scientific Production</div>
    </span>
    <ul class="sub-menu-container sub-menu-horizontal">
        <li class="menu-item {% if request.path|startswith:'/indicators/world/' %}active{% endif %}">
            <a class="menu-link" href="{% url 'indicator' 'world' %}"><div>Indicators</div></a>
        </li>
        <li class="menu-item {% if request.GET.menu_scope|startswith:'evolucao-producao-' %}active{% endif %}">
            <span class="menu-link">
                <div>Observation</div>
            </span>
            <ul class="sub-menu-container sub-menu-horizontal" style="margin-top: 2.5rem;">
                <li class="menu-item {% if request.GET.menu_scope|startswith:'evolucao-producao-mundo' %}active{% endif %}">
                    <span class="menu-link">
                        <div>World</div>
                    </span>
                    <ul class="sub-menu-container sub-menu-horizontal" style="margin-top: 2.5rem;">
                        <li class="menu-item {% if request.GET.menu_scope == 'evolucao-producao-mundo-pais-documentos' %}active{% endif %}">
                            <a class="menu-link" href="/chart?menu_scope=evolucao-producao-mundo-pais-documentos"><div>Documents</div></a>
                        </li>
                        <li class="menu-item {% if request.GET.menu_scope == 'evolucao-producao-mundo-pais-citacoes' %}active{% endif %}">
                            <a class="menu-link" href="/chart?menu_scope=evolucao-producao-mundo-pais-citacoes"><div>Citation</div></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item {% if request.GET.menu_scope|startswith:'evolucao-producao-brasil' %}active{% endif %}">
                    <span class="menu-link">
                        <div>Brazil</div>
                    </span>
                    <ul class="sub-menu-container sub-menu-horizontal" style="margin-top: 2.5rem;">
                        <li class="menu-item {% if request.GET.menu_scope == 'evolucao-producao-brasil-pais-documentos' %}active{% endif %}">
                            <a class="menu-link" href="/chart?menu_scope=evolucao-producao-brasil-pais-documentos"><div>Documents</div></a>
                        </li>
                        <li class="menu-item {% if request.GET.menu_scope == 'evolucao-producao-brasil-pais-citacoes' %}active{% endif %}">
                            <a class="menu-link" href="/chart?menu_scope=evolucao-producao-brasil-pais-citacoes"><div>Citation</div></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item {% if request.GET.menu_scope|startswith:'evolucao-producao-redescielo' %}active{% endif %}">
                    <span class="menu-link" style="white-space: nowrap;">
                        <div>SciELO Network</div>
                    </span>
                    <ul class="sub-menu-container sub-menu-horizontal" style="margin-top: 2.5rem;">
                        <li class="menu-item {% if request.GET.menu_scope == 'evolucao-producao-redescielo-pais-documentos' %}active{% endif %}">
                            <a class="menu-link" href="/chart?menu_scope=evolucao-producao-redescielo-pais-documentos"><div>Documents</div></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item {% if request.path == '/searchv2' and not request.GET.menu_scope %}active{% endif %}">
            <a class="menu-link" href="/searchv2"><div>Search</div></a>
        </li>
    </ul>
</li>
<li class="menu-item {% if request.path|startswith:'/indicators/social/' or request.GET.menu_scope|startswith:'evolucao-producaosocial-' %}active{% endif %}">
    <span class="menu-link">
        <div>Social production</div>
    </span>
    <ul class="sub-menu-container sub-menu-horizontal">
        <li class="menu-item {% if request.path|startswith:'/indicators/social/' %}active{% endif %}">
            <a class="menu-link" href="{% url 'indicator' 'social' %}"><div>Indicators</div></a>
        </li>
        <li class="menu-item {% if request.GET.menu_scope|startswith:'evolucao-producaosocial-' %}active{% endif %}">
            <a class="menu-link" href="/chart?menu_scope=evolucao-producaosocial-pais-documentos"><div>Observation</div></a>
        </li>
        <li class="menu-item {% if request.path == '/searchv2/' and request.GET.menu_scope %}active{% endif %}">
            <a class="menu-link" href="/searchv2/"><div>Search</div></a>
        </li>
    </ul>
</li>
