{% load i18n %}
{% load wagtailcore_tags %}
{% load menu_context %}

{% get_menu_context request as menu_ctx %}

<!-- Indicadores -->
<li class="menu-item {% if menu_ctx.is_about_indicadores or menu_ctx.is_indicators_path %}active{% endif %}">
    {% if menu_ctx.is_about_section %}
        <a class="menu-link" href="/{{ request.LANGUAGE_CODE }}/sobre-indicadores/"><div>{% trans "Indicadores" %}</div></a>
    {% elif menu_ctx.is_social_context %}
        <a class="menu-link" href="{% url 'indicator' menu_ctx.social_indicator_index %}"><div>{% trans "Indicadores" %}</div></a>
    {% else %}
        <a class="menu-link" href="{% url 'indicator' menu_ctx.scientific_indicator_index %}"><div>{% trans "Indicadores" %}</div></a>
    {% endif %}
</li>

<!-- Observação -->
{% if menu_ctx.is_about_section %}
    <li class="menu-item {% if menu_ctx.is_about_observacao %}active{% endif %}">
        <a class="menu-link" href="/{{ request.LANGUAGE_CODE }}/sobre-observacao/"><div>{% trans "Observação" %}</div></a>
    </li>
{% elif menu_ctx.is_social_context %}
    <li class="menu-item {% if menu_ctx.is_social_observation_active %}active{% endif %}">
        <a class="menu-link" href="/{{ request.LANGUAGE_CODE }}/chart/?menu_scope=evolucao-producaosocial-pais-documentos"><div>{% trans "Observação" %}</div></a>
    </li>
{% else %}
    <li class="menu-item {% if menu_ctx.is_scientific_observation_active %}active{% endif %}">
        <a class="menu-link" href="/{{ request.LANGUAGE_CODE }}/chart/?menu_scope=evolucao-producao-mundo-pais-documentos"><div>{% trans "Observação" %}</div></a>
    </li>
{% endif %}

<!-- Busca -->
<li class="menu-item {% if menu_ctx.is_about_busca or menu_ctx.is_search_page_path %}active{% endif %}">
    {% if menu_ctx.is_about_section %}
        <a class="menu-link" href="/{{ request.LANGUAGE_CODE }}/sobre-busca-bibliografica/"><div>{% trans "Busca" %}</div></a>
    {% elif menu_ctx.is_social_context %}
        {% if menu_ctx.search_page_social %}
            <a class="menu-link" href="{% pageurl menu_ctx.search_page_social %}"><div>{% trans "Busca" %}</div></a>
        {% else %}
            <a class="menu-link" href="{% url 'search:search_page_by_index' menu_ctx.social_indicator_index %}"><div>{% trans "Busca" %}</div></a>
        {% endif %}
    {% else %}
        {% if menu_ctx.search_page_scientific %}
            <a class="menu-link" href="{% pageurl menu_ctx.search_page_scientific %}"><div>{% trans "Busca" %}</div></a>
        {% else %}
            <a class="menu-link" href="{% url 'search:search_page_by_index' menu_ctx.scientific_indicator_index %}"><div>{% trans "Busca" %}</div></a>
        {% endif %}
    {% endif %}
</li>
