
{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load humanize %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}
<section id="content" class="mt-3">
  <div class="container">
    <div class="row ml-oca-filter" id="mainContent">
      <!-- Menu -->
      <div class="col-lg-3 mb-2 pt-0 align-self-start">
        <div id="menu-container">
            {% block search_sidebar %}
            {% endblock %}
        </div>
      </div>
      
      <div class="col-lg-9 mx-0 ps-3 pe-0">
        {% block header_content %}
        {% endblock %}
        {% block search_content %}
        {% endblock %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'indicator/css/custom.css' %}">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'indicator/js/helpers.js' %}"></script>
  <script src="{% static 'indicator/js/button.js' %}"></script>
{% endblock %}
