{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_head %}

    <!-- social share tags -->
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="post" />
    <meta property="og:title"
        content="{{ page.title }}"/>
    <meta property="og:description"
        content="{{ page.specific.body|striptags|truncatewords:100 }}"/>
        {% image page.gallery_images.all.0.image original as img %}
    <meta property="og:image" content="https://{{request.META.HTTP_HOST}}{{img.url}}" />
    <!-- social share tags -->

{% endblock extra_head %}

{% block content %}

  <section id="content">
      <div class="content-wrap">
          <div class="container clearfix">

              <div class="row gutter-40 col-mb-80">
                  <!-- Post Content
                  ============================================= -->
                  <div class="postcontent col-lg-9">

                      <div class="single-post mb-0">

                          <!-- Single Post
                          ============================================= -->
                          <div class="entry clearfix">

                              <!-- Entry Title
                              ============================================= -->
                              <div class="entry-title">
                                  <h2>{{ page.title }}</h2>
                              </div><!-- .entry-title end -->

                              <!-- Entry Meta
                              ============================================= -->
                              <div class="entry-meta">
                                  <ul>
                                      <li><i class="icon-calendar3"></i> {{ page.specific.date|date:"d"}} de {{ page.specific.date|date:"F"}} de {{ page.specific.date|date:"Y"}}</li>
                                      <li><a href="#"><i class="icon-user"></i> {{ page.owner.get_full_name }}</a></li>
                                      <!-- <li><i class="icon-folder-open"></i> <a href="#">Geral</a>, <a href="#">imagens</a></li> -->
                                      <!-- <li><a href="#"><i class="icon-comments"></i> 43 Comentários</a></li> -->
                                      <!-- <li><a href="#"><i class="icon-camera-retro"></i></a></li> -->
                                  </ul>
                              </div><!-- .entry-meta end -->

                              <!-- Entry Image
                              ============================================= -->
                              <div class="entry-image">

                                {% for item in page.gallery_images.all %}
                                    <div style="float: left; margin: 10px">
                                        {% image item.image fill-320x240 %}
                                        <p>{{ item.caption }}</p>
                                    </div>
                                {% endfor %}

                              <!-- <a href="#"><img src="" alt="Blog Single"></a> -->

                              </div><!-- .entry-image end -->

                              <!-- Entry Content
                              ============================================= -->
                              <div class="entry-content mt-0">

                                  {{ page.specific.body|richtext }}

                                  <!-- Post Single - Content End -->

                                  <div class="clear"></div>

                                  <!-- Post Single - Share
                                  ============================================= -->
                                  <div class="si-share border-0 d-flex justify-content-between align-items-center">
                                      <span>Compartilhe esta Publicação:</span>
                                      <div>
                                          <a href="#" class="social-icon si-borderless si-facebook">
                                              <i class="icon-facebook"></i>
                                              <i class="icon-facebook"></i>
                                          </a>
                                          <a href="#" class="social-icon si-borderless si-twitter">
                                              <i class="icon-twitter"></i>
                                              <i class="icon-twitter"></i>
                                          </a>
                                          <a href="#" class="social-icon si-borderless si-email3">
                                              <i class="icon-email3"></i>
                                              <i class="icon-email3"></i>
                                          </a>
                                      </div>
                                  </div><!-- Post Single - Share End -->

                              </div>
                          </div><!-- .entry end -->

                          <!-- Post Navigation
                          ============================================= -->
                          <!-- <div class="row justify-content-between col-mb-30 post-navigation">
                              <div class="col-12 col-md-auto text-center">
                                  <a href="#">⇐ Anterior</a>
                              </div>

                              <div class="col-12 col-md-auto text-center">
                                  <a href="#">Próximo ⇒</a>
                              </div>
                          </div> --><!-- .post-navigation end -->

                      </div>

                  </div><!-- .postcontent end -->

                  <!-- Sidebar
                  ============================================= -->
                  <div class="sidebar col-lg-3">
                      <div class="sidebar-widgets-wrap">

                          <div class="widget clearfix">

                              {% if page.specific.tags.all %}
                                <h4>Tag Cloud</h4>

                                <div class="tagcloud">

                                    <div class="tags">
                                        {% for tag in page.specific.tags.all %}
                                            <a href="{{ page.get_parent.url }}?tag={{ tag }}">{{ tag }}</a>
                                        {% endfor %}
                                    </div>

                                </div>
                              {% endif %}

                          </div>

                      </div>

                  </div><!-- .sidebar end -->
              </div>

          </div>
      </div>
  </section>

{% endblock content %}
