<!-- Graphs -->
<div class="col-lg-9 mx-0 ps-2 pe-0">
    <!-- Applied Filters -->
    <div class="card mb-2 p-3 d-none bg-light" id="applied-filters"></div>

    <!-- Main Graph -->
    <div class="card mb-2 p-3 d-none" id="main-chart-div" style="height:75vh;">
        <div class="mx-auto" style="width:100%; height:100%;">
            <div id="main-chart" style="width:100%; height:100%;"></div>
        </div>
    </div>

    <!-- Inner Percentage Graph -->
    <div class="card mb-2 p-3 d-none" id="inner-percentage-chart-div" style="height:75vh;">
        <div class="mx-auto" style="width:100%; height:100%;">
            <div id="inner-percentage-chart" style="width:100%; height:100%;"></div>
        </div>
    </div>

    <!-- Outer Percentage Graph -->
    <div class="card mb-2 p-3 d-none" id="outer-percentage-chart-div" style="height:75vh;">
        <div class="mx-auto" style="width:100%; height:100%;">
            <div id="outer-percentage-chart" style="width:100%; height:100%;"></div>
        </div>
    </div>
</div>