{% load i18n static %}

<!-- Graphs -->
<div class="col-lg-9 mx-0 ps-3 pe-0">
    <!-- Applied Filters -->
    <div class="card mb-3 p-3 d-none bg-oca-light shadow-sm" id="applied-filters"></div>

    <!-- Periodicals Graph (Journal mode) -->
    <div class="card mb-3 p-3 d-none shadow-sm" id="periodicals-chart-div" style="height:75vh;">
        <div class="mx-auto" style="width:100%; height:100%;">
            <div id="periodicals-chart" style="width:100%; height:100%;"></div>
        </div>
    </div>

    <!-- Documents Graph -->
    <div class="card mb-3 p-3 d-none shadow-sm" id="docs-chart-div" style="height:75vh;">
        <div class="mx-auto" style="width:100%; height:100%;">
            <div id="docs-chart" style="width:100%; height:100%;"></div>
        </div>
    </div>

    {% if data_source != "social" %}
        <!-- Citations Graph -->
        <div class="card mb-3 p-3 d-none shadow-sm" id="citations-chart-div" style="height:75vh;">
            <div class="mx-auto" style="width:100%; height:100%;">
                <div id="citations-chart" style="width:100%; height:100%;"></div>
            </div>
        </div>

        <!-- Citations per Document Graph -->
        <div class="card mb-3 p-3 d-none shadow-sm" id="citations-per-doc-chart-div" style="height:75vh;">
            <div class="mx-auto" style="width:100%; height:100%;">
                <div id="citations-per-doc-chart" style="width:100%; height:100%;"></div>
            </div>
        </div>

        <!-- Cited Documents Graph -->
        <div class="card mb-3 p-3 d-none shadow-sm" id="cited-docs-chart-div" style="height:75vh;">
            <div class="mx-auto" style="width:100%; height:100%;">
                <div id="cited-docs-chart" style="width:100%; height:100%;"></div>
            </div>
        </div>

        <!-- % Docs with >=1 Citation Graph (Journal mode) -->
        <div class="card mb-3 p-3 d-none shadow-sm" id="pct-cited-docs-chart-div" style="height:75vh;">
            <div class="mx-auto" style="width:100%; height:100%;">
                <div id="pct-cited-docs-chart" style="width:100%; height:100%;"></div>
            </div>
        </div>
    {% endif %}
</div>