{# graph_options_menu.html - Graph Options #}
<h4 style="margin:0; padding-top: 0.5em; padding-bottom: 0.5em;">Graph Options</h4>
<div id="graph-options-menu">
  <label for="study-unit-select">Study Unit</label>
  <select id="study-unit-select" class="form-control">
    <option value="">Select a Study Unit</option>
    <option value="unit_document">Document</option>
    <option value="unit_citation">Citation</option>
    <option value="unit_journal">Journal</option>
  </select>

  <label for="metric-select">Metric</label>
  <select id="metric-select" class="form-control">
    <option value="">Select a metric</option>
    <option value="absolute_frequency">Absolute Frequency</option>
    <option value="relative_frequency">Relative Frequency</option>
  </select>
</div>
