{# graph_options_menu.html - Graph Options #}
<h4 style="margin:0; padding-top: 0.5em; padding-bottom: 0.5em;">Graph Options</h4>
<div id="graph-options-menu">
  <label for="study-unit-select">Study Unit</label>
  <select id="study-unit-select" class="form-control">
    <option value="">Select a Study Unit</option>
    <option value="unit_document" selected>Document</option>
    <option value="unit_citation">Citation</option>
  </select>

  <label for="breakdown-variable-select">Breakdown Variable</label>
  <select id="breakdown-variable-select" class="form-control">
    <option value="">Select a variable</option>
  </select>
</div>
