
{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load humanize %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}
<section id="content">
  <div class="container">
    <div class="row ml-oca-filter" id="mainContent">
      <!-- Add filters menu -->
      <div class="col-lg-3 card border-0 mb-2 pt-0 align-self-start">
        <div id="menu-container">
          {% if data_source != "social" %}
            <!-- Add scope selectors -->
            {% include "scope.html" %}
          {% endif %}

          <!-- Add filters menu based on data source -->
          {% if data_source == "journal_metrics" %}
            {% include "menu_ranking.html" %}
          {% else %}
            {% include "menu.html" %}
          {% endif %}
        </div>
      </div>

      {% if data_source == "journal_metrics" %}
        <!-- Ranking Area -->
        {% include "ranking.html" %}
      {% else %}
        <!-- Charts Area -->
        {% include "chart.html" %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'indicator/css/custom.css' %}">
{% endblock %}

{% block inline_javascript %}
  <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'indicator/js/helpers.js' %}"></script>
  <script src="{% static 'indicator/js/charts.js' %}"></script>
  <script src="{% static 'indicator/js/menu.js' %}"></script>
  <script src="{% static 'indicator/js/button.js' %}"></script>
  {% if data_source == "journal_metrics" %}
    <script src="{% static 'indicator/js/journal_metrics.js' %}"></script>
  {% endif %}
{% endblock %}
