
{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}
<section id="content">
  <div class="container">
    <div class="row ml-oca-filter indicator-layout sg-layout" id="mainContent">
      <!-- Add filters menu -->
      <div class="col-12 col-lg-3 mb-2 pt-0 align-self-start indicator-filters-col sg-layout__sidebar-col sg-layout__sidebar" id="indicator-filters-col">
        <div id="menu-container">
          {{ indicator_sidebar_html|safe }}
        </div>
      </div>

      {% if is_journal_metrics %}
        <!-- Ranking Area -->
        {% include "ranking.html" %}
      {% else %}
        <!-- Charts Area -->
        {% include "chart.html" %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'search_gateway/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'search_gateway/css/filter_sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'indicator/css/custom.css' %}">
{% endblock %}

{% block inline_javascript %}
  <script src="{% static 'js/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'search_gateway/js/helpers.js' %}"></script>
  <script src="{% static 'search_gateway/js/filter_form.js' %}"></script>
  <script src="{% static 'indicator/js/charts.js' %}"></script>
  <script src="{% static 'indicator/js/menu.js' %}"></script>
  <script src="{% static 'indicator/js/layout.js' %}"></script>
  {% if is_journal_metrics %}
    <script src="{% static 'indicator/js/journal_metrics_filters.js' %}"></script>
  {% endif %}
  {% if not is_journal_metrics %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        initIndicatorForm('{{ data_source|escapejs }}', '{{ study_unit|default:"document"|escapejs }}');
      });
    </script>
  {% endif %}
{% endblock %}
