<div>
  <form method="POST" action="{% url 'sci_prod_journal_metrics' %}" id="menu-form-journal-metrics">
    {% csrf_token %} 
    <div id="menu-fields-journal-metrics">
        {% include "filters/sci_prod_journal.html" %}
    </div>

    <div class="menu-floating-actions mt-6">
      <div class="menu-floating-actions__inner">
        <button id="menu-reset-journal-metrics" type="reset" class="btn btn-secondary me-2">Reset</button>
        <button id="menu-submit-journal-metrics" type="submit" class="btn btn-primary">Generate</button>
      </div>
    </div>
  </form>
</div>