{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load humanize %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}


<secton id="content" class="mt-5">
    <div class="container">
        <div class="row bg-light rounded my-3">
            <div class="col">
                <header class="my-2">
                    <h1 class="mb-1"></h1>
                    <p class="text-muted">{{ selected_chart.scope}}</p>
                </header>
            </div>
        </div>

        <div class="row">
            
            {% if request.user.is_authenticated %}
                <div class="col mb-2">
                    <p class="text-muted">
                        Link para o dash: <a href="{{ selected_chart.link_chart }}" target="_blank">{{selected_chart.link_chart}}</a><br>
                        Link para o admin do chart: <a href="/admin/chart/chart/edit/{{selected_chart.id}}" target="_blank">{{selected_chart.title}}</a>
                    </p>
                </div>
            {% endif %}

            <div class="col mb-2">
                <label for="chart_label" class="fw-bold">Select an observation table:</label>
                <form method="post" action="">
                    {% csrf_token %} 
                    <select name="chart_label" id="chart_label" class="form-control mt-2">
                        {% for chart in charts %}
                            <option value="{{chart.label}}" {% if selected_chart.label == chart.label %}selected{% endif %}>{{ chart.title }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            
        </div>
        <div class="row">

            <!-- Content -->
            <div class="col">

                <!-- Graph -->
                    <div class="mb-2 mx-auto">
                        <div id="graph" style="position: relative;">{{selected_chart.iframe_url|safe}}</div>
                    </div>
                <!-- Graph -->

            </div>
            <!-- Content -->

        </div>
    </div>
</secton>


{% endblock %}

{% block inline_javascript %}
<script>
    document.getElementById('chart_label').addEventListener('change', function() {
        this.form.submit();
    });
</script>
{% endblock %}