{% load navigation %}
{% load wagtailsettings_tags %}

{% get_settings use_default_site=True %}
{% get_sa_menu as sa_menu %}

<!-- header -->
<header id="header" class="analytics-site-header">
  <div id="header-wrap" class="">
    <div class="top-menu-wrapper analytics-top-bar">
      <div class="container">
      <div class="header-row top-search-parent analytics-header-row">
        {% include 'include/header_brand.html' %}
        {% include 'include/header_desktop_nav.html' %}
        {% include 'include/header_mobile_nav.html' %}
      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>
<!-- header -->

<!-- breadcrumb -->
{% include 'include/breadcrumb.html' %}
<!-- breadcrumb -->
