{% load static i18n %}
{% load menu_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailsettings_tags %}

{% get_settings use_default_site=True %}

<!-- header -->
<header id="header" class="">
  <div id="header-wrap" class="">
    <div class="container">
      <div class="header-row top-search-parent">

        <div id="logo" class="me-lg-5">
          {% image settings.core_settings.CustomSettings.site_logo max-100x100 as logo %}
          <a href="/" class="standard-logo" data-dark-logo="{{ logo.url }}"><img src="https://ocabr.org/media/images/logo-ocabr-v4-light100x100.max-100x100.png"
              alt="{{ settings.core_settings.CustomSettings.name }}"></a>
        </div>

        <div class="header-misc">

          <!-- {% include 'include/language.html' %} -->

          {% comment %} <div id="top-search" class="header-misc-icon">
            <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
          </div> {% endcomment %}

        </div>

        <div id="primary-menu-trigger" class="d-none"></div>
        
        <nav class="navbar navbar-expand-lg navbar-light primary-menu flex-grow-1 justify-content-end">
          <div class="container-fluid px-0">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNavbar" aria-controls="primaryNavbar" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="primaryNavbar">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                {% include 'menus/mega_menu_indicators.html' %}
                {% include 'menus/mega_menu.html' %}
              </ul>
            </div>
          </div>
        </nav>

        {% for handle in config.WAGTAILMENUS_FLAT_MENUS_HANDLE_CHOICES %}

          {% flat_menu handle.0 max_levels=2 show_menu_heading=True fall_back_to_default_site_menus=True %}

        {% endfor %}
        <!-- <form class="top-search-form" action="search.html" method="get" style="width: 1296px;">
          <input type="text" name="q" class="form-control" value=""
            placeholder="{% trans 'Buscar por conteúdo do site...' %}" autocomplete="off">
        </form> -->
      </div>
    </div>
  </div>
  <div class="header-wrap-clone" style="height: 100px;"></div>
</header>
<!-- header -->

<!-- breadcrumb -->
{% include 'include/breadcrumb.html' %}
<!-- breadcrumb -->