{% load i18n %}
{% load navigation %}

{% get_sa_language_links as language_links %}

<form action="{% url 'set_language' %}" method="post" id="form_lang">
    {% csrf_token %}
    <input type="hidden" id="language-next" name="next" value="{{ request.get_full_path|default:'/' }}" />

    <select id="language-select" name="language" class="sm-form-control lang-select">
        {% for language in language_links %}
            <option value="{{ language.code }}"{% if language.selected %} selected{% endif %} data-url="{{ language.url }}">{{ language.code|upper }}</option>
        {% endfor %}
    </select>
</form>
