<!-- modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Passo a passo como se filiar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-6 text-justify">
              <p>1. Faça o <a href="https://arquivosbrasil.blob.core.windows.net/insulas/anexos/ficha_filiacao_abeu-37759.doc" style="color:purple;" target="_blank">download da Ficha de Proposta de Filiação</a> e a preencha<em>.</em> </p>
              <p>2. Anexe uma cópia autenticada do Contrato Social (e última alteração) ou Estatuto e Ata em que conste a eleição do representante legal da Instituição a que a Editora está vinculada. </p>
              <p>3. Envie também uma relação das obras publicadas nos últimos três anos.<br><br>4. Se a Editora tiver regimento interno, anexe uma cópia.<br><br></p>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="row icon-block">
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <i class="icon-email3"></i>
                </div>
                <div class="col-md-10 col-sm-10">
                  <h5>Envie a documentação pelo correio à nossa sede:</h5>
                  <p class="small">
                    Av. Fagundes Filho, 77 - Sala 24 - Vila Monte Alegre - 04304-010 São Paulo, SP
                  </p>
                </div>
              </div>
              <div class="row icon-block">
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <i class="icon-line-at-sign"></i>
                </div>
                <div class="col-md-10 col-sm-10">
                  <h5>Para agilizar, envie a documentação e a Ficha de Proposta de Filiação também por e-mail para:</h5>
                  <p class="small">
                    abeu@abeu.org.br; secretaria@abeu.org.br
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
