<!-- privacy_policy begin -->
<div class="modal fade bs-example-modal-lg_banner" tabindex="-1" aria-labelledby="myLargeModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Politica de privacidade</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-justify">
                            {{ settings.core_settings.CustomSettings.cookie_content_page.specific.body|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- privacy_policy end -->