{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load humanize %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}

<!-- content -->
<section id="content">
    <div class="content-wrap pt-0">
        <div class="container clearfix">

            <div class="section m-1 p-1 mt-4">

                <div class="page-title-row">
                    <div class="page-title-content">
                        <h1 class="mb-1">Indicadores</h1>
                        <span>Painel de dados do Observatório OCABr</span>
                    </div>
                </div>

            </div>

            <!-- <div class="section pb-0 pt-2 mb-2 mt-3 bg-transparent">
                <div class="container">

                    <div class="row flex-row ">

                        <div class="col-xl-3 col-sm-3 col-md-3"></div>
                        <div class="col-xl-3 col-sm-3 col-md-3">
                        </div>

                        <div class="col-xl-2 col-sm-2 col-md-2">
                        </div>
                        <div class="col-xl-2 col-sm-2 col-md-2">
    
                        </div>

                    </div>

                </div>

            </div> -->

            <div class="row gutter-40 col-mb-80 mt-6">
                <!-- cluster ============================================= -->

                <div class="sidebar col-lg-3 mt-n5 mb-1 card d-none d-sm-block mx-auto gap-2 d-grid">

                    <div class="mt-2 mb-1"><b>Gráfico por: </b></div>
                    <select id="graph_type" name="graph_type" class="chzn-select ordem form-control">
                        <option value="year" selected>Ano</option>
                        <option value="thematic_level_0">Área temática</option>
                        <option value="regions">Região</option>
                        <option value="open_access_status">Tipo de acesso aberto</option>
                        <option value="license">Licença</option>
                        <option value="open_access_status">Tipo de acesso aberto</option>
                        <option value="is_oa">Acesso aberto (sim/não)</option>
                        <option value="institutions">Instituição</option>
                    </select>

                    <div class="mt-3 mb-2"><b>Universo: </b></div>
                    <div class="col-xl-12 col-sm-12 col-md-12">
                        <select id="country" class="chzn-select ordem form-control">
                            <option value="all">Todos</option>
                            <option value="brasil" selected>Brasil</option>
                        </select>
                    </div>

                    <div class="mt-3 mb-2"><b>Fonte: </b></div>
                    <div class="col-xl-12 col-sm-12 col-md-12">
                        <select id="country" class="chzn-select ordem form-control">
                            <option value="all">Todos</option>
                            <option value="brasil" selected>OpenAlex</option>
                        </select>
                    </div>

                    <div class="divider mt-3 mb-3"></div>

                    <div class="mt-3 mb-2"><b>Intervalo de ano de publicação: </b></div>
                    <div class="col-xl-12 col-sm-12 col-md-12">
                        <div id="year">
                            <div class="form-group row">
                                <label class="col-form-label">De</label>
                                <div class="col-4">
                                    <input id="start" class="form-control" type="text" name="year_start" value="2014"
                                        placeholder="2014">
                                </div>
                                <label class="col-form-label">A</label>
                                <div class="col-4">
                                    <input id="end" class="form-control" type="text" name="year_end" value="2023"
                                        placeholder="2023">
                                </div>
                                <small class="text-muted">Alcance max.: 10 anos</small>
                            </div>
                        </div>
                    </div>

                    <div class="divider mt-3 mb-3"></div>

                    <div class="mt-4"><b>Filtros</b></div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Tipo de documento" %}:
                        <select id="type" name="type" class="chzn-select ordem form-control"
                            data-placeholder="Escolha tipo de documento..." >
                            <option value="all">Todos</option>
                            {% for type in facets.type|partition:2 %}
                            <option value="{{ type.0 }}">{{ type.0|translate_data }} ({{ type.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Áreas temáticas" %}:
                        <select id="thematic_level_0" name="thematic_level_0" class="chzn-select ordem form-control"
                            data-placeholder="Escolha um ou mais área temática..." multiple>
                            {% for the in facets.thematic_level_0|partition:2 %}
                            <option value="{{ the.0 }}">{{ the.0|translate_data }} ({{ the.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Região" %}:
                        <select id="region" name="region" class="chzn-select ordem form-control"
                            data-placeholder="Escolha um ou mais região..." multiple>
                            {% for region in facets.regions|partition:2 %}
                            <option value="{{ region.0 }}">{{ region.0 }} ({{ region.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Acesso aberto" %}:
                        <select id="is_oa" name="is_oa" class="chzn-select ordem form-control">
                            <option value="all">Todos</option>
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Tipo de acesso aberto" %}:
                        <select id="open_access_status" name="open_access_status" class="chzn-select ordem form-control"
                            data-placeholder="Escolha uma ou mais tipo de acesso aberto..." multiple>
                            {% for aos in facets.open_access_status|partition:2 %}
                            <option value="{{ aos.0 }}">{{ aos.0|translate_data }} ({{ aos.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Institution" %}:
                        <select id="institution" name="institution" class="chzn-select ordem form-control"
                            data-placeholder="Escolha uma ou mais instituições..." multiple>
                            {% for ins in facets.institutions|partition:2 %}
                            <option value="{{ ins.0 }}">{{ ins.0|translate_data }} ({{ ins.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "License" %}:
                        <select id="license" name="license" class="chzn-select ordem form-control">
                            <option value="all">Todos</option>
                            {% for li in facets.license|partition:2 %}
                            <option value="{{ li.0 }}">{{ li.0|translate_data }} ({{ li.1|intcomma }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="divider mt-3 mb-3"></div>

                    <div class="mt-2 mb-2"><b>Configuração do gráfico</b></div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Tipo de gráfico" %}:
                        <select id="type_graph" name="type_graph" class="chzn-select ordem form-control">
                            <option value="bar">Barras</option>
                            <option value="line">Linha</option>
                            <option value="scatter">Pontos</option>
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Título" %}:
                        <textarea type="text" id="title" name="title"
                            class="form-control">Gráfico de evolução por ano</textarea>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Orientação da legenda" %}:
                        <select id="legend_orient" name="legend_orient" class="chzn-select ordem form-control">
                            <option value="horizontal">Horizontal</option>
                            <option value="vertical">Vertical</option>
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Distancia da legenda para o topo" %}:
                        <select id="legend_top" name="legend_top" class="chzn-select ordem form-control">
                            <option value="bottom">Rodapé</option>
                            <option value="top">Topo</option>
                            <option value="middle">Meio</option>
                        </select>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-md-12 mb-2">
                        {% trans "Mostra label de quantidade" %}:
                        <select id="label" name="label" class="chzn-select ordem form-control">
                            <option value="true">Sim</option>
                            <option value="" selected>Não</option>
                        </select>
                    </div>

                    <div class="d-grid col-12 mx-auto">
                        <button type="button" class="btn btn-primary" id="generate_graph">
                            Gerar gráfico
                        </button>
                    </div>
                </div>
                <!-- cluster ============================================= -->

                <!-- Catalog content -->
                <div class="postcontent col-lg-9">

                    <div class="tab-content" id="ex2-content">
                        <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel"
                            aria-labelledby="ex2-tab-1">
                            <div class="mb-2 mx-auto" style="max-width: 100%; min-height: 100%;">
                                <div id="graph" style="position: relative; height:60vh; width:50vw"></div>
                            </div>
                        </div>
                    </div>

                    <div class="divider mt-3 mb-3"></div>

                    <div class="row">
                        <div class="container">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>

                </div><!-- End Catalog content -->
            </div>

        </div>
    </div>
</section>
<!-- content -->

{% endblock %}

{% block inline_javascript %}
<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/echarts/theme/roma-macarons-macarons2-infographic.js' %}"></script>


<script>

    $(".chzn-select").chosen(
        {
            no_results_text: "Nenhum resultado encontrado para: ",
            search_contains: true,
            display_disabled_options: false,
            display_selected_options: false,
            allow_single_deselect: false,
        });

    serialize = function (obj) {
        var str = [];
        for (var p in obj)
            if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
        return str.join("&");
    }

    function format_prefix(stringList, prefix) {
        // Check if the list is an array
        if (!Array.isArray(stringList)) {
            throw new Error("Invalid input: The list must be an array.");
        }

        // Check if the prefix is a string
        if (typeof prefix !== "string") {
            throw new Error("Invalid input: The prefix must be a string.");
        }

        // Join the strings with the prefix and separator
        const formattedString = stringList.map((item) => `${prefix}:"${item}"`).join(",");

        return formattedString;
    }

    function get_params() {
        data = {}
        data["filters"] = "*:*"
        data["title"] = $('#title').val()
        data["facet_by"] = "year"
        data["context_by"] = $('#graph_type').val() != "year" ? $('#graph_type').val() : "year";

        if (data["context_by"] && data["context_by"] != "year") {
            data["filters"] = ''
        }

        if (data["context_by"] == "year") {
            data["context_by"] = ''
        }

        data["graph_type"] = $('#type_graph').val();
        data["graph_label"] = $('#label').val();
        data["graph_legend_orient"] = $('#legend_orient').val()
        data["graph_legend_top"] = $('#legend_top').val()
        data["start"] = $('#start').val()
        data["end"] = $('#end').val()


        data["default_filter"] = format_prefix($("#thematic_level_0").val(), "thematic_level_0")
        if ($("#region").val().length) {
            console.log("aqui");
            data["default_filter"] += "," + format_prefix($("#region").val(), "regions")
        }
        if ($("#open_access_status").val().length) {
            data["default_filter"] += "," + format_prefix($("#open_access_status").val(), "open_access_status")
        }
        if ($("#institution").val().length) {
            data["default_filter"] += "," + format_prefix($("#institution").val(), "institutions")
        }
        if ($("#is_oa").val() != "all") {
            data["default_filter"] += "," + "is_oa:" + $("#is_oa").val()
        }
        if ($("#license").val() != "all") {
            data["default_filter"] += "," + "license:" + $("#license").val()
        }
        if ($("#type").val() != "all") {
            data["default_filter"] += "," + "type:" + $("#type").val()
        }

        console.log(data["default_filter"])

        console.log(data);


        return data
    }

    $("#generate_graph").click(function () {
        generate_graph(get_params());
    });

    function generate_graph(data) {

        var chart = echarts.init(document.getElementById('graph'));

        chart.showLoading();

        query_string = serialize(data)

        console.log("/search/graph/json?" + query_string)

        //Gráfico por ano
        $.get("/search/graph/json?" + query_string).done(function (data) {
            chart.hideLoading();

            chart.setOption({
                title: {
                    text: data.graph_options.title
                },
                legend: {
                    orient: data.graph_options.graph_legend_orient,
                    right: data.graph_options.graph_legend_right,
                    top: data.graph_options.graph_legend_top
                },
                toolbox: {
                    orient: 'vertical',
                    feature: {
                        magicType: {
                            type: ['line', 'bar', 'stack', 'tield'],
                        },
                        dataView: {},
                        saveAsImage: { show: true },
                        restore: { show: true }
                    }
                },
                tooltip: {},
                xAxis: {
                    type: 'category', data: data.data.keys
                },
                yAxis: { type: 'value' },
                series: data.data.series
            }, true);
        });

        window.addEventListener('resize', chart.resize);

    }

    generate_graph(get_params());

    document.addEventListener('keypress', function enterPress(e){
        if(e.which == 13) {
            generate_graph(get_params());
        }
    });

    window.addEventListener('load', function () {
        document.querySelectorAll('select').forEach( select => {
            $('#' + select.id).change(function(){
                generate_graph(get_params());
            })
        });
    })
      

</script>

{% endblock %}