{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load sizify %}
{% load partition %}
{% load humanize %}
{% load translate %}

{% get_settings use_default_site=True %}


{% block content %}


<secton id="content" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col pl-0">

                <div class="page-title-row mb-4" style="background:#F9F9F9;border-radius:4px;">
                    <div class="page-title-content py-2 px-2">
                        <h1 class="mb-1">Indicadores</h1>
                        <span>Painel de dados do Observatório OCABr</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <!-- Menu -->
            <div class="col-lg-3 card pt-2">
                <style type="text/css">
                    .divider:after {
                        margin-left: 0;
                    }

                    .accordion-button {
                        position: relative;
                        display: block;
                        width: 100%;
                        text-align: left;

                        background: transparent;
                        border: 0;
                        border-bottom: 2px solid #ced4da;
                        font-weight: bold;
                    }

                    .accordion-button:after {
                        content: "+";
                        position: absolute;
                        right: 0;
                    }

                    .accordion-button[aria-expanded="true"]:after {
                        content: "-";
                        margin-right: .125rem;
                    }

                    .sticky-bottom {
                        position: -webkit-sticky;
                        position: sticky;
                        bottom: 0;
                        z-index: 1030;
                        /* Suficientemente alto para estar acima do conteúdo */
                        margin-top: auto !important;
                        /* Força o uso de margem automática */
                    }

                    .btn-generate {
                        border: 1px solid #ced4da;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        background: #f9f9f9;
                        padding-left: 1rem;
                        padding-right: 1rem;

                        margin-left: -1rem;
                        width: calc(100% + 2rem);
                        margin-bottom: 0 !important;
                    }
                </style>

                <div class="mt-3 mb-2">
                    <b>Universo: </b>
                    <i class="fal fa-question-circle" data-toggle="tooltip" data-placement="right" data-original-title="Se fizer parte de coleção, registrar o volume. Se a inscrição for da coleção toda, registrar o nome da coleção."></i>
                </div>

                <select id="universe" class="chzn-select ordem form-control">
                    <option value="brazil" selected="">Brasil</option>
                    <option value="brazil_region">Brasil - Região</option>
                    <option value="brazil_posgraduate">Brasil - Pós Graduação</option>
                    <option value="brazil_state">Brasil - Estado</option>
                    <option value="brazil_instituion">Brasil - Instituição</option>
                    <option value="world">Mundo</option>
                    <option value="world_region">Mundo - Região</option>
                    <option value="world_country">Mundo - País</option>
                </select>

                <div id="div_world_region" style="display:none">
                    <div class="mt-3 mb-2">
                        <b>Regiões:</b>
                    </div>
                    <select id="world_region" name="world_region" class="chzn-select ordem form-control"
                        data-placeholder="Escolha um ou mais regiões...">
                        <option value="all">Todas</option>
                        {% for wr in world_region.keys %}
                            <option value="{{wr}}">{{wr}}</option>
                        {% endfor %}
                    </select>
                </div>


                <div id="div_world_country" style="display:none">
                    <div class="mt-3 mb-2">
                        <b>Paises:</b>
                    </div>
                    <select id="world_country" name="world_country" class="chzn-select ordem form-control"
                        data-placeholder="Escolha um ou mais paises...">
                        <option value="all">Todas</option>
                        {% for country in countries %}
                            <option value="{{ country.0 }}">{{ country.0 }}
                        {% endfor %}
                    </select>
                </div>

                <div id="div_brazil_region" style="display:none">
                    <div class="mt-3">
                        <b>Regiões</b>
                    </div>
                    <select id="regions" name="regions" class="chzn-select ordem form-control"
                        data-placeholder="Escolha um ou mais região..." multiple>
                        {% for region in facets.regions|partition:2 %}
                            <option value="{{ region.0 }}">{{ region.0 }}
                            <!-- ({{ region.1|intcomma }})</option> -->
                            {% endfor %}
                    </select>
                </div>

                <div id="div_brazil_state" style="display:none">
                    <div class="mt-3">
                        <b>Estados</b>
                    </div>
                    <select id="states" name="states"
                        class="chzn-select ordem form-control"
                        data-placeholder="Escolha um ou mais área temática..." multiple>
                        {% for sta in facets.states|partition:2 %}
                        <option value="{{ sta.0 }}">{{ sta.0|translate_data }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div id="div_brazil_institution" style="display:none">
                    <div class="mt-3">
                        <b>Institutições:</b>
                    </div>
                    <select id="institutions" name="institutions" class="chzn-select ordem form-control"
                        data-placeholder="Escolha uma ou mais instituições..." multiple>
                        {% for ins in facets.institutions|partition:2 %}
                        <option value="{{ ins.0 }}">{{ ins.0|translate_data }}
                        </option>
                        {% endfor %}
                    </select>
                    <!-- <small class="text-muted">Quantidade max. de instituições: 3</small> -->
                </div>
                
                <div class="mt-3 mb-2">
                    <b>Escopo: </b>
                </div>
                
                <select id="scope" class="chzn-select ordem form-control">
                    <option value="document">Produção científica</option>
                    <option value="policy_directory">Políticas</option>
                    <option value="event_directory">Disseminação</option>
                    <option value="education_directory">Educação</option>
                    <option value="infrastructure_directory">Infraestrura</option>
                </select>
                
                <div class="mt-3">
                    <b>Objeto:</b>
                </div>
                <select id="type" name="type" class="chzn-select ordem form-control"
                data-placeholder="Escolha tipo de objeto...">
                   <option value="all">Todos</option>
                     <!-- {% for type in facets.type|partition:2 %}
                        <option value="{{ type.0 }}">{{ type.0|translate_data }}
                        </option>
                    {% endfor %}
                    <option value="all">Arquivo de Dados</option>
                    <option value="all">Preprints</option> -->
                </select>

                <select id="classification" name="classification" class="chzn-select ordem form-control"
                    data-placeholder="Escolha tipo de objeto..." style="display: none;">
                    <option value="all">Todos</option>
                    {% for classification in facets.classification|partition:2 %}
                    <option value="{{ classification.0 }}">{{ classification.0|translate_data }}
                    </option>
                    {% endfor %}
                </select>
            
                <div class="mt-3 mb-2">
                    <b>Base de dados: </b>
                </div>

                <select id="database" class="chzn-select ordem form-control">
                    <option value="ocabr+openalex" selected="">OCABr + OpenAlex</option>
                </select>

                <div class="mt-3 mb-2">
                    <b>Métrica: </b>
                </div>

                <select id="metric" class="chzn-select ordem form-control">
                    <option value="frequency" selected="">Frequência</option>
                    <option value="relative_frequency">Frequência relativa</option>
                </select>

                <div id="div_graph_type">
                    <div class="mt-3 mb-2">
                        <b>Gráfico por: </b>
                    </div>
                    <select id="graph_type" name="graph_type" class="chzn-select ordem form-control">
                        <option value="year" selected="">Todos</option>
                    </select>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <div class="mt-3 mb-2">
                    <b>Intervalo de ano de publicação: </b>
                </div>

                <div id="year">
                    <div class="row">
                        <div class="col-1">
                            <label for="start" class="form-label mt-2">De</label>
                        </div>
                        <div class="col">
                            <input id="start" class="form-control" type="text" name="year_start" value="2014"
                                placeholder="2014">
                        </div>
                        <div class="col-1">
                            <label for="end" class="form-label mt-2">A</label>
                        </div>
                        <div class="col">
                            <input id="end" class="form-control" type="text" name="year_end" value="2023"
                                placeholder="2023">
                        </div>
                    </div>
                    <small class="text-muted">Alcance max.: 10 anos</small>
                </div>

                <div class="divider mt-3 mb-3"></div>

                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Filtros
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body pb-3">

                                <div class="mt-3">
                                    <label for="is_oa" class="form-label">Acesso aberto:</label>
                                </div>
                                <select id="is_oa" name="is_oa" class="chzn-select ordem form-control">
                                    <option value="all">Todos</option>
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>

                                <div class="mt-3">
                                    <label for="open_access_status" class="form-label">Tipo de acesso aberto: </label>
                                </div>
                                <select id="open_access_status" name="open_access_status"
                                    class="chzn-select ordem form-control"
                                    data-placeholder="Escolha uma ou mais tipo de acesso aberto...">
                                    <option value="all">Todos</option>
                                    {% for aos in facets.open_access_status|partition:2 %}
                                    <option value="{{ aos.0 }}">{{ aos.0|translate_data }}
                                        <!-- ({{ aos.1|intcomma }}) -->
                                    </option>
                                    {% endfor %}
                                </select>

                                <div class="mt-3">
                                    <label for="license" class="form-label">License:</label>
                                </div>
                                <select id="license" name="license" class="chzn-select ordem form-control">
                                    <option value="all">Todos</option>
                                    {% for li in facets.license|partition:2 %}
                                    <option value="{{ li.0 }}">{{ li.0|translate_data }}
                                        <!-- ({{ li.1|intcomma }})</option> -->
                                        {% endfor %}
                                </select>

                                <!-- <div id="universe_brazil">
                                    <div class="mt-3">
                                        <label for="thematic_level_0" class="form-label">Áreas temáticas:</label>
                                    </div>
                                    <select id="thematic_level_0" name="thematic_level_0"
                                        class="chzn-select ordem form-control"
                                        data-placeholder="Escolha um ou mais área temática..." multiple>
                                        {% for the in facets.thematic_level_0|partition:2 %}
                                        <option value="{{ the.0 }}">{{ the.0|translate_data }}
                                             ({{ the.1|intcomma }}) 
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Configuração do gráfico
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="mt-3">
                                    <label for="type_graph" class="form-label">Tipo de gráfico:</label>
                                </div>
                                <select id="type_graph" name="type_graph" class="form-control">
                                    <option value="bar">Barras</option>
                                    <option value="line">Linha</option>
                                    <option value="scatter">Pontos</option>
                                </select>

                                <div class="mt-3">
                                    <label for="title" class="form-label">Título:</label>
                                </div>
                                <textarea type="text" id="title" name="title" class="form-control"
                                    placeholder="Adicione um título personalizado."></textarea>

                                <div class="mt-3">
                                    <label for="legend_orient" class="form-label">Orientação da legenda:</label>
                                </div>
                                <select id="legend_orient" name="legend_orient" class="form-control">
                                    <option value="horizontal">Horizontal</option>
                                    <option value="vertical">Vertical</option>
                                </select>

                                <div class="mt-3">
                                    <label for="legend_top" class="form-label">Distancia da legenda para o topo:</label>
                                </div>
                                <select id="legend_top" name="legend_top" class="form-control">
                                    <option value="bottom">Rodapé</option>
                                    <option value="top">Topo</option>
                                    <option value="middle">Meio</option>
                                </select>

                                <div class="mt-3">
                                    <label for="label" class="form-label">Mostra label de quantidade:</label>
                                </div>
                                <select id="label" name="label" class="form-control">
                                    <option value="true" selected>Sim</option>
                                    <option value="">Não</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid sticky-bottom btn-generate mb-4" style="display:grid">
                    <button type="button" class="btn btn-primary" id="generate_graph"> Gerar gráfico </button>
                </div>

            </div>
            <!-- Menu -->

            <!-- Content -->
            <div class="col-lg-9">

                <!-- Tabs navs -->
                {% if ind_files %}
                    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex2-tab-1" data-toggle="tab" href="#ex2-tabs-1" role="tab"
                                aria-controls="ex2-tabs-1" aria-selected="true">Gráfico<i
                                    class="bi-people fs-2 m-0"></i></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex2-tab-2" data-toggle="tab" href="#ex2-tabs-2" role="tab"
                                aria-controls="ex2-tabs-2" aria-selected="false">Dados</a>
                        </li>
                    </ul>
                {% endif %}
                <!-- Tabs navs -->

                <div class="tab-content" id="ex2-content">
                    <!-- Graph -->
                    <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                        <div class="mb-2 mx-auto" style="max-width: 100%; min-height: 100%;">
                            <div id="graph" style="position: relative; height:75vh; width:60vw"></div>
                        </div>
                    </div>
                    <!-- Graph -->

                    <!-- Data -->
                    <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                        <div class="alert alert-info" role="alert">
                            Qualquer dúvida sobre os dados entre em contato pelo e-mail: <b>ocabr@ocabr.org</b>
                          </div>
                        <div class="m-3">
                            <h4 >Sobre os dados</h4>
                            
                            <p>Atualmente disponibilizamos os dados brutos de diretórios(<b>OCABr</b>) e da produção científica brasiliera <b>(OCABr+OpenAlex)</b>. Os dados do mundo são os mesmo dados encontrados do projeto OpenAlex(<a href="https://openalex.org/">https://openalex.org/</a>).</p>

                            </br>

                            <p>A lista contém os dados brutos de Brasil separados por ano e a lista completa para os diretórios:</p>

                        </div>
                        <div class="list-group">
                            {% for f in ind_files %}
                            <a href="{{ f.raw_data.url }}"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ f.label }}</h5>
                                    <small>{{ f.name }}</small>
                                </div>
                                <p class="mb-1">{{ f.description }}</p>
                                <small>Tamanho: {{ f.raw_data.size|sizify }}</small>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Data -->
                </div>

            </div>
            <!-- Content -->

        </div>
    </div>
</secton>


{% endblock %}

{% block inline_javascript %}
<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/echarts/theme/roma-macarons-macarons2-infographic.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const now = new Date();
    const dataHora = now.toLocaleString('en-GB', { timeZone: 'UTC' });
    const stringDataHora = ` ${dataHora} - UTC`;

    $(".chzn-select").chosen(
        {
            no_results_text: "Nenhum resultado encontrado para: ",
            search_contains: true,
            display_disabled_options: false,
            display_selected_options: false,
            allow_single_deselect: false,
        }
    );
    $(".chzn-select_limit_3").chosen(
        {
            no_results_text: "Nenhum resultado encontrado para: ",
            search_contains: true,
            display_disabled_options: false,
            display_selected_options: false,
            allow_single_deselect: false,
            max_selected_options: 3
        }
    );
    $(".chosen-container").css({ "width": "100%" })

    serialize = function (obj) {
        var str = [];
        for (var p in obj)
            if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
        return str.join("&");
    }

    function format_prefix(stringList, prefix) {
        // Check if the list is an array
        if (!Array.isArray(stringList)) {
            throw new Error("Invalid input: The list must be an array.");
        }

        // Check if the prefix is a string
        if (typeof prefix !== "string") {
            throw new Error("Invalid input: The prefix must be a string.");
        }

        // Join the strings with the prefix and separator
        const formattedString = stringList.map((item) => `${prefix}:"${item}"`).join(",");

        return formattedString;
    }

    function get_params() {
        data = {}
        data["filters"] = "*:*"
        data["title"] = $('#title').val()
        data["facet_by"] = "year"
        data["context_by"] = $('#graph_type').val() != "year" ? $('#graph_type').val() : "year";

        if (data["context_by"] && data["context_by"] != "year") {
            data["filters"] = ''
        }

        if (data["context_by"] == "year") {
            data["context_by"] = ''
        }

        data["graph_type"] = $('#type_graph').val();
        data["graph_label"] = $('#label').val();
        data["graph_legend_orient"] = $('#legend_orient').val()
        data["graph_legend_top"] = $('#legend_top').val()
        data["start"] = $('#start').val()
        data["end"] = $('#end').val()

        //data["default_filter"] = format_prefix($("#thematic_level_0").val(), "thematic_level_0")
        //if ($("#region").val() != "all") {
        //    data["filters"] = "regions:" + $("#region").val()
        //}
        if ($("#open_access_status").val().length) {
            data["default_filter"] += "," + + "open_access_status:" + $("#open_access_status").val()
        }
        //if ($("#institution").val().length) {
            //data["default_filter"] += "," + format_prefix($("#institution").val(), "institutions")
        //}
        if ($("#is_oa").val() != "all") {
            data["default_filter"] += "," + "is_oa:" + $("#is_oa").val()
        }
        if ($("#license").val() != "all") {
            data["default_filter"] += "," + "license:" + $("#license").val()
        }
        if ($("#type").val() != "all" && $("#scope").val() == "document") {
            data["default_filter"] += "," + "type:" + $("#type").val()
        }
        //if ($("#states").val() != "") {
        //    data["default_filter"] += "," + '"states:"' + $("#states").val()
        //}
        if ($("#classification").val() != "all" && $("#scope").val() != "document") {
            data["default_filter"] += "," + 'classification:"' + $("#classification").val() + '"'
        }
        if ($("#scope").val() != "") {
            if ($("#scope").val() == "document"){
                data["default_filter"] += "," + 'scope:' + $("#scope").val()
            }else{
                data["default_filter"] += "," + 'directory_type:' + $("#scope").val()
            }
            data["scope"] =  $("#scope").val()
        }
        // Somente para mundo
        if ($("#world_country").val() != "all") {
            data["world_country"] = $("#world_country").val()
        }
        if ($("#world_region").val() != "all") {
            data["world_region"] = $("#world_region").val()
        }
        if ($("#universe").val()) {
            data["universe"] = $("#universe").val()
        }
        if ($("#classification").val() != "all" && $("#classification").val()) {
            data["classification"] = $("#classification").val()
        }
        if ($("#is_oa").val()) {
            data["is_oa"] = $("#is_oa").val()
        }
        if ($("#open_access_status").val()) {
            data["open_access_status"] = $("#open_access_status").val()
        }
        if ($("#license").val()) {
            data["license"] = $("#license").val()
        }
        if ($("#regions").val() != "") {
            data["regions"] = $("#regions").val()
        }
        if ($("#states").val() != "") {
            data["states"] = $("#states").val()
        }
        if ($("#institutions").val() != "") {
            data["institutions"] = $("#institutions").val()
        }
        
        console.log(data["default_filter"])

        //console.log(data);

        return data
    }

    function replaceSpacesWithNewlines(text) {
        // The regular expression /\s/g finds all whitespace characters, including spaces, tabs, etc.
        // The \n represents a newline.
        return text.replace(/\s/g, '\n');
      }

    $("#generate_graph").click(function () {
        generate_graph(get_params());
    });

    function generate_graph(data) {

        var chart = echarts.init(document.getElementById('graph'));

        chart.showLoading();

        query_string = serialize(data)

        console.log("/search/graph/json?" + query_string)

        //Gráfico por ano
        $.get("/search/graph/json?" + query_string).done(function (data) {
            chart.hideLoading();

            yaxis_param = {
                type: 'value',
                axisLabel: {
                    formatter: function(param) {
                        if (param > 1000){
                            value = param/1000
                            return value + "K";
                        }else{
                            return param;
                        }
                      }
                  }
            }

            var right = data.graph_options.graph_legend_right
            var top = data.graph_options.graph_legend_top
            var legend_type = 'plain'
            var selected_mode = true
            var selector = false
            var toolbox_orient = "vertical"
            var legend_orient = data.graph_options.graph_legend_orient

            // Realiza a ordenação do series 
            data.data.series.sort((a, b) => a.name.localeCompare(b.name));

            // Get the size of the array series
            if (data.data.series.length > 10){
                legend_type = 'scroll'
                selected_mode = 'multiple'
                toolbox_orient = "horizontal"
                legend_orient = "vertical"
                right = 0
                top = 40
                $("#legend_orient").prop("disabled", true);
                $("#legend_top").prop("disabled", true);

                selector = [
                    {
                        type: 'all',
                        // can be any title you like
                        title: 'Todos'
                    },
                    {
                        type: 'inverse',
                        // can be any title you like
                        title: 'Nenhum'
                    }
                ]
            }else{
                $("#legend_orient").prop("disabled", false);
                $("#legend_top").prop("disabled", false); 
            }
            
            chart.setOption({
                title: [{
                    text: data.graph_options.title,
                    subtext: "Fonte: " + $("#database").val().toUpperCase() + " - " + stringDataHora + " - " + "CC-BY" 
                    }
                ],
                legend: {
                    type: legend_type,
                    orient: legend_orient,
                    right: right,
                    top: top,
                    selectedMode: selected_mode,
                    selector: selector,
                    formatter: function (name) {
                        if (legend_orient == 'horizontal'){
                            return name;
                        }else{
                            return replaceSpacesWithNewlines(name);
                        }
                      }
                },
                grid: {
                    top: 110,
                    left: 0,
                    right: 200,
                    bottom: '10%',
                    containLabel: true
                  },
                label:{
                    formatter: function(param) {
                        if (param.data > 1000){
                            value = param.data/1000
                            return value.toFixed(3);
                        }else{
                            return param.data;
                        }
                      }
                },
                toolbox: {
                    orient: toolbox_orient,
                    feature: {
                        magicType: {
                            type: ['line', 'bar', 'stack', 'tield'],
                        },
                        dataView: {
                            show: true,
                            title: 'Dados',
                            readOnly: true,
                            lang: ['', 'Fechar',]
                          },
                        saveAsImage: { show: true },
                        restore: { show: true },
                        dataZoom: {}
                    }
                },
                tooltip: {},
                xAxis: {
                    type: 'category', data: data.data.keys.sort()    
                },
                yAxis: [yaxis_param],
                series: data.data.series.sort()
            }, true);
        }).fail(function() {
            
            var msgOption = {
                title: {
                    show: true,
                    textStyle:{
                        color:'grey',
                        fontSize:20
                    },
                    text: "No data available",
                    left: 'center',
                    top: 'center'
                    },
                xAxis: {
                    show: false
                },
                yAxis: {
                    show: false
                },
                series: []
            };
            chart.clear() 
            chart.hideLoading()
            chart.setOption(msgOption)
        });

        window.addEventListener('resize', chart.resize);

    }

    function remove_options(selectId, optionValues) {
        const selectElement = document.getElementById(selectId);

        // Iterate over each value in the list of options to be removed
        optionValues.forEach(value => {
            // Iterate over all options in the select to find the option with the matching value
            for (let i = selectElement.options.length - 1; i >= 0; i--) {
                if (selectElement.options[i].value === value) {
                    selectElement.remove(i);
                }
            }
        });
    }

    function disable_options(selectId, optionValues) {
        const selectElement = document.getElementById(selectId);

        optionValues.forEach(value => {
            for (let i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === value) {
                    selectElement.options[i].disabled = true;
                    break;
                }
            }
        });
    }

    function enable_options(selectId, optionValues) {
        const selectElement = document.getElementById(selectId);

        optionValues.forEach(value => {
            for (let i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === value) {
                    selectElement.options[i].disabled = false;
                    break;
                }
            }
        });
    }

    function hide_components(componentList) {
        componentList.forEach(component => {
            if (typeof component === 'string') {
                component = document.getElementById(component);
            }
            if (component) {
                component.style.display = 'none';
            } else {
                console.error(`Element with ID ${component} not found.`);
            }
        });
    }

    function show_components(componentList) {
        componentList.forEach(component => {
            if (typeof component === 'string') {
                component = document.getElementById(component);
            }
            if (component) {
                component.style.display = 'block';
            } else {
                console.error(`Element with ID ${component} not found.`);
            }
        });
    }

    function dynamic_fields() {

        if ($("#universe").val() == "brazil" && $("#scope").val() == "article") {
        }
        if ($("#universe").val() != "brazil" || $("#scope").val() != "article") {
        }

        // Hide Graph Type
        if ($("#universe").val() != "brazil" || $("#universe").val() == "world" ){
            hide_components(["div_graph_type"]);
        } 

        // Show Graph Type
        if ($("#universe").val() == "brazil" || $("#universe").val() == "world" ){
            show_components(["div_graph_type"]);
        } 

        if ($("#scope").val() != "document"){
            show_components(["classification_chosen"]);
            hide_components(["type_chosen"]);
        }
        if ($("#scope").val() == "document"){
            show_components(["type_chosen"]);
            hide_components(["classification_chosen"]);
        }
        if ($("#universe").val() == "world") {
            $("#graph_type").trigger("chosen:updated");
            //hide_components(["universe_brazil"])
            hide_components(["div_world_region"])
        }
        if ($("#universe").val() == "brazil") {
            $("#graph_type").trigger("chosen:updated");
            //show_components(["universe_brazil"])
            hide_components(["div_world_country"])
            hide_components(["div_world_region"]) 
            hide_components(["div_brazil_region"])
            hide_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])   
            hide_components(["div_world_country"]) 
        }
        if ($("#universe").val() == "brazil_region") {
            show_components(["div_brazil_region"])   
            hide_components(["div_world_country"])
            hide_components(["div_world_region"])    
            hide_components(["div_brazil_institution"])    
        }
        if ($("#universe").val() == "brazil_posgraduate") {
            hide_components(["div_world_country"])
            hide_components(["div_world_region"]) 
            hide_components(["div_brazil_region"])
            hide_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])   
            hide_components(["div_world_country"])    
        }
        if ($("#universe").val() == "brazil_state") {
            hide_components(["div_brazil_region"])   
            show_components(["div_brazil_state"])      
            hide_components(["div_brazil_institution"])   
            hide_components(["div_world_country"]) 
        }
        if ($("#universe").val() == "brazil_instituion") {
            hide_components(["div_brazil_region"])   
            show_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])   
            hide_components(["div_world_country"])
            hide_components(["div_world_region"]) 
        }
        if ($("#universe").val() == "world") {
            hide_components(["div_brazil_region"])   
            hide_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])   
            hide_components(["div_world_country"])   
            hide_components(["div_world_region"])      
        }
        if ($("#universe").val() == "world_country") {
            show_components(["div_world_country"]) 
            hide_components(["div_brazil_region"])     
            hide_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])
            hide_components(["div_world_region"])    
        }
        if ($("#universe").val() == "world_region") {
            show_components(["div_world_region"]) 
            hide_components(["div_brazil_region"])     
            hide_components(["div_brazil_institution"])   
            hide_components(["div_brazil_state"])   
            hide_components(["div_world_country"])
        }

    }

    get_facets(q="universe:brazil");
    dynamic_fields();
    generate_graph(get_params());

    
    document.addEventListener('keypress', function enterPress(e) {
        if (e.which == 13) {
            generate_graph(get_params());
        }
    });


    function fill_components(data, trans, component_id, include_all=true, empty=true, empty_without_first=false){
        
        if (empty){
            $(component_id).empty()
        }

        if (empty_without_first){
            $(component_id + ' option:not(:first)').remove();
        }

        //Preciso descobrir como remover todos os items nenos o primeiro da lista.

        if (include_all){
            $(component_id).append(`<option value="" selected="">${trans["all"]}</option>`);
        }

        for (const item in data){
            if (!Number.isInteger(data[item])){
                name = data[item]
                $(component_id).append(`<option value="${data[item]}">${trans[name]}</option>`);
            }
        }
        $(".chzn-select").trigger("chosen:updated");
    }


    function get_facets(q){
        $.ajax({
            url: '/search/graph/context_facet', 
            type: 'GET', 
            data: {
                q: q,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                trans = response.translate;
                console.log(response.facets.scope); 
                //fill_components(response.facets.scope, trans, "#scope", include_all=false);
                console.log(response.facets.type); 
                fill_components(response.facets.type, trans, "#type", include_all=false, empty=false, empty_without_first=true);
                console.log(response.facets.classification); 
                fill_components(response.facets.classification, trans, "#classification", include_all=false, empty=false, empty_without_first=true);
                console.log(response.facets.database); 
                fill_components(response.facets.database, trans, "#database", include_all=false);
                console.log(response.facets.graphs); 
                fill_components(response.facets.graphs, trans, "#graph_type", include_all=true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log('Erro: ' + errorThrown);
            }
        });
    }


    // This event the components are changes the values
    window.addEventListener('load', function () {
        document.querySelectorAll('select').forEach(select => {
            $('#' + select.id).change(function () {
                
                if(select.id == "universe"){
                    if ($(this).val() == "brazil"){
                        get_facets(q="universe:brazil");
                    }
                }

                if(select.id == "scope"){
                    get_facets(q="scope:" + $(this).val());
                }

                dynamic_fields();
                generate_graph(get_params());
            })
        });
    })

</script>

{% endblock %}