{% load static %}
{% block content %}
<!-- https://echarts.apache.org/examples/en/editor.html?c=bar-y-category-stack -->
<div id="dark_graph" style="width: 1000px;height: {{ graphic_height }}px"></div>

<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/echarts/theme/roma-macarons-macarons2-infographic.js' %}"></script>
<script type="text/javascript">
var dom = document.getElementById('dark_graph');
var myChart_dark = echarts.init(dom, 'dark', {
  renderer: 'svg',
  useDirtyRect: false,
});


var app = {};

var option;

option = {

  aria: {
    enabled: true
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      // Use axis to trigger tooltip
      type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
    }
  },
  legend: {
  },
  grid: {
    containLabel: true,
    top: '4%',
    left: '3%',
    right: '4%',
    bottom: '3%'
  },
  xAxis: {
    type: 'value',
    min: 0
  },
  yAxis: {
    min: 0,
    type: 'category',
    containLabel: true,
    data: {{ category | safe }}
  },
  series: [
    {{ series | safe }}
  ]
};

if (option && typeof option === 'object') {
  myChart_dark.setOption(option);
}

window.addEventListener('resize', myChart_dark.resize);
</script>
{% endblock %}