<h4 class="my-2">Graph Options</h4>

<div class="form-group mb-3">
  <label for="breakdown_variable" class="form-label">Breakdown Variable</label>
  <select id="breakdown_variable" name="breakdown_variable" class="form-control">
    <option value="">Select a variable</option>
    <option value="collection">Collection</option>
    <option value="document_language">Document Language</option>
    <option value="access_type">Access Type</option>
  </select>
</div>

<h4 class="my-2 pt-1">Filters</h4>

<div class="form-group mb-3">
    <label class="form-label" for="collection">Collection</label>
    <select id="collection" name="collection" class="form-control" aria-label="Collection">
        <option value="" selected>Select a Collection</option>
        <option value="arg">Argentina</option>
        <option value="bol">Bolivia</option>
        <option value="scl">Brazil</option>
        <option value="chl">Chile</option>
        <option value="col">Colombia</option>
        <option value="cri">Costa Rica</option>
        <option value="cub">Cuba</option>
        <option value="dom">Dominican Republic</option>
        <option value="ecu">Ecuador</option>
        <option value="mex">Mexico</option>
        <option value="per">Peru</option>
        <option value="prt">Portugal</option>
        <option value="pry">Paraguay</option>
        <option value="esp">Spain</option>
        <option value="sza">South Africa</option>
        <option value="ury">Uruguay</option>
        <option value="ven">Venezuela</option>
        <option value="wid">West Indies</option>
        <option value="cic">Science and Culture</option>
        <option value="psi">PEPSIC</option>
        <option value="spa">Public Health</option>
        <option value="rve">REVENF</option>
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="publisher">Publisher</label>
    <select id="publisher" name="publisher" class="form-control" aria-label="Publisher"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="journal">Journal</label>
    <select id="journal" name="journal" class="form-control" aria-label="Journal"></select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Document</strong>
</div>

<div class="form-group mb-3">
  <label class="form-label" for="document_publication_year_start">Publication Year</label>
  <div class="input-group">
    <input
      id="document_publication_year_start"
      name="document_publication_year_start"
      type="text"
      class="form-control"
      aria-label="Publication Year Start"
      placeholder="Start"
      value="2015"
    />
    <input
      id="document_publication_year_end"
      name="document_publication_year_end"
      type="text"
      class="form-control"
      aria-label="Publication Year End"
      placeholder="End"
      value="2024"
    />
  </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_type">Document Type</label>
    <select multiple id="document_type" name="document_type" class="form-control" aria-label="Type"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_language">Document Language</label>
    <select multiple id="document_language" name="document_language" class="form-control" aria-label="Language"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_language_operator">Language Query Operator</label>
    <select id="document_language_operator" name="document_language_operator" class="form-control" aria-label="Language Query Operator">
        <option value="and">AND</option>
        <option value="or">OR</option>
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="access_type">Access Type</label>
    <select multiple id="access_type" name="access_type" class="form-control" aria-label="Access Type"></select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Author Affiliation</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="institution">Institution</label>
    <select multiple id="institution" name="institution" class="form-control" aria-label="Institution"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country">Country</label>
    <select multiple id="country" name="country" class="form-control" aria-label="Country"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country_operator">Country Query Operator</label>
    <select id="country_operator" name="country_operator" class="form-control" aria-label="Country Query Operator">
        <option value="and">AND</option>
        <option value="or" selected>OR</option>
    </select>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    try {
        // Populate filters
        const data = await fetchFilters('scielo');
        populateSelectFilters(
            // Filters data retrieved from the index API
            data,
            // Fields that we don't want to populate because they are handled differently
            [
              'breakdown_variable',
              'collection',
              'country_operator',
              'document_language_operator',
              'document_publication_year_end',
              'document_publication_year_start',
              'institution',
              'journal',
              'publisher',
            ]
        );
    } catch (error) {
        console.error('Error loading filters', error);
    }

    // Initialize Bootstrap Datepicker for year fields
    const yearFields = [
        'document_publication_year_start',
        'document_publication_year_end',
    ];
    yearFields.forEach(fieldId => {
        const yearInput = document.getElementById(fieldId);
        if (yearInput) {
            $(yearInput).datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
                startDate: '1900',
                endDate: '2100'
            });
        }
    });

    try {
        // Initialize Select2 for singleSelect fields
        const singleSelectFields = [
            "access_type",
            "country",
            "document_language",
            "document_type",
            'breakdown_variable',
            'country_operator',
            'document_language_operator',
            'collection',
        ];
        singleSelectFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                $(selectElement).select2(
                  {
                    placeholder: 'Start typing to search...',
                    allowClear: true,
                    theme: 'bootstrap-5',
                  }
                ).on('select2:open', function(e) {
                    document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
                });
            }
        });

        // Initialize Select2 for special select fields
        const searchFields = [
            "journal",
            "institution",
            "publisher"
        ];
        searchFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                $(selectElement).select2(
                  {
                    ajax: {
                        url: `/search-gateway/search-item/?field_name=${fieldId}&data_source=scielo`,
                        dataType: 'json',
                        delay: 300,
                        data: params => ({ q: params.term }),
                        processResults: data => {
                            return {
                                results: data.results.map(item => ({
                                    id: item.key,
                                    text: item.key
                                }))
                            };
                        }
                    },
                    minimumInputLength: 2,
                    placeholder: 'Start typing to search...',
                    theme: 'bootstrap-5',
                    allowClear: true
                  }
                ).on('select2:open', function(e) {
                    document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
                });
            }
        });

    } catch (error) {
        console.error('Error initializing Select2', error);
    }
});
</script>