{% if study_unit != 'journal' %}
<h4 class="my-2">Graph Options</h4>

<div class="form-group mb-3">
    <label for="breakdown_variable" class="form-label">Breakdown Variable</label>
    <select id="breakdown_variable" class="form-control" name="breakdown_variable">
        <option></option>
        <option value="source_index_open_alex">Source Index (OpenAlex)</option>
        <option value="source_index_scielo">Source Index (SciELO)</option>
        <option value="source_type">Source Type</option>
        <option value="document_type">Document Type</option>
        <option value="document_language">Document Language</option>
        <option value="open_access">Open Access</option>
        <option value="access_type">Access Type</option>
        <option value="subject_area_level_0">Subject Area Level 0</option>
        <option value="subject_area_level_1">Subject Area Level 1</option>
        <option value="subject_area_level_2">Subject Area Level 2</option>
        <option value="region_world">Author Affiliation - Region (World)</option>
    </select>
</div>
{% endif %}

<h4 class="my-2 pt-1">Filters</h4>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Source</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_index_open_alex">Source Index (OpenAlex)</label>
    <select multiple id="source_index_open_alex" class="form-control" name="source_index_open_alex" aria-label="Source Index (OpenAlex)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_index_scielo">Source Index (SciELO)</label>
    <select multiple id="source_index_scielo" class="form-control" name="source_index_scielo" aria-label="Source Index (SciELO)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_type">Source Type</label>
    <select multiple id="source_type" class="form-control" name="source_type" aria-label="Source Type">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_name">Source Name</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="source_name" class="form-control" name="source_name" aria-label="Source Name"></select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="source_name_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_country">Source Country</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="source_country" class="form-control" name="source_country" aria-label="Source Country"></select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="source_country_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="issn">ISSN</label>
    <select id="issn" class="form-control" name="issn" aria-label="ISSN"></select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Document</strong>
</div>

<div class="form-group mb-3">
  <label class="form-label" for="document_publication_year_start">Publication Year</label>
  <div class="input-group">
    <input
      id="document_publication_year_start"
      name="document_publication_year_start"
      type="text"
      class="form-control is-height-2-4"
      aria-label="Publication Year Start"
      placeholder="Start"
      value="2015"
    />
    <input
      id="document_publication_year_end"
      name="document_publication_year_end"
      type="text"
      class="form-control is-height-2-4"
      aria-label="Publication Year End"
      placeholder="End"
      value="2024"
    />
  </div>
</div>


<div class="form-group mb-3">
    <label class="form-label" for="document_type">Document Type</label>
    <select multiple id="document_type" class="form-control" name="document_type" aria-label="Type"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_language">Document Language</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="document_language" class="form-control" name="document_language" aria-label="Document Language">
                <option></option>
            </select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="document_language_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="open_access">Open Access</label>
    <select id="open_access" class="form-control" name="open_access" aria-label="Open Access">
        <option></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="access_type">Access Type</label>
    <select multiple id="access_type" class="form-control" name="access_type" aria-label="Access Type">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_0">Subject Area Level 0</label>
    <select multiple id="subject_area_level_0" class="form-control" name="subject_area_level_0" aria-label="Subject Area Level 0">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_1">Subject Area Level 1</label>
    <select multiple id="subject_area_level_1" class="form-control" name="subject_area_level_1" aria-label="Subject Area Level 1">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_2">Subject Area Level 2</label>
    <select multiple id="subject_area_level_2" class="form-control" name="subject_area_level_2" aria-label="Subject Area Level 2">
    </select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Author Affiliation</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="institution">Institution</label>
    <select multiple id="institution" class="form-control" name="institution" aria-label="Institution">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="region_world">Region (World)</label>
    <select multiple id="region_world" class="form-control" name="region_world" aria-label="Region (World)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country">Country</label>
    <div class="d-flex align-items-start justify-content-between">
        <div class="select-left flex-grow-1">
            <select multiple id="country" name="country" class="form-control" aria-label="Country"></select>
        </div>
        <div class="select-right">
            <select id="country_operator" name="country_operator" class="form-control" aria-label="Country Query Operator">
                <option value="and" selected>AND</option>
                <option value="or">OR</option>
            </select>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    try {
        // Populate filters
        const data = await fetchFilters('brazil');
        populateSelectFilters(
            // Filters data retrieved from the index API
            data,
            // Fields that we don't want to populate because they are handled differently
            [
              'breakdown_variable',
              'country_operator',
              'document_publication_year_end',
              'document_publication_year_start',
              'institution',
              'issn',
              'open_access',
              'source_country',
              'source_name',
            ]
        );
    } catch (error) {
        console.error('Error loading filters', error);
    }

    // Initialize Bootstrap Datepicker for year fields
    const yearFields = [
        'document_publication_year_start',
        'document_publication_year_end',
    ];
    yearFields.forEach(fieldId => {
        setupDatePicker(fieldId);
    });

    // Initialize singleselect fields
    const singleSelectFieldsOpts = [
        ["country_operator", "", false, false],
        ['breakdown_variable', 'Select a breakdown variable', false, true],
        ['document_language', 'Search for a language', true, true],
        ['open_access', 'Select an open access status', false, true],
    ]
    singleSelectFieldsOpts.forEach(([fieldId, fieldPlaceholder, allowSearch, allowClear]) => {
        setupSelect2Single(fieldId, fieldPlaceholder, allowSearch, allowClear);
    });

    // Initialize multiselect fields
    const multiselectFieldsOpts = [
        ['access_type', 'Select an access type', false],
        ["country", "Search for a country", false]
        ['document_type', 'Select a document type', false],
        ['region_world', 'Select a region', false],
        ['source_index_open_alex', 'Select a source index', false],
        ['source_index_scielo', 'Select a source index', false],
        ['source_type', 'Select a source type', false],
        ['subject_area_level_0', 'Select an area', false],
        ['subject_area_level_1', 'Select an area', false],
        ['subject_area_level_2', 'Search for an area', false],
    ];
    multiselectFieldsOpts.forEach(([fieldId, fieldPlaceholder, allowClear]) => {
        setupSelect2Multiple(fieldId, fieldPlaceholder, allowClear);
    });

    // Initialize SearchAsYouType fields
    const saytFieldsOpts = [
      ['institution', 'sources' ,'Search for an institution', true],
      ['issn', 'world', 'Search for an ISSN', true],
      ['source_country', 'world', 'Search for a country', true],
      ['source_name', 'world', 'Search for a source', true],
    ];
    saytFieldsOpts.forEach(([fieldId, fieldDataSource, fieldPlaceholder, allowClear]) => {
        setupSelect2SearchAsYouType(fieldId, fieldDataSource, fieldPlaceholder, allowClear);
    });
});
</script>