{% load i18n static %}

{% if study_unit != 'journal' %}
<h4 class="my-2">{% trans "Graph Options" %}</h4>

<div class="form-group mb-3">
    <label for="breakdown_variable" class="form-label">{% trans "Breakdown Variable" %}</label>
    <select id="breakdown_variable" name="breakdown_variable" class="form-control">
        <option></option>
        <option value="collection">{% trans "Collection" %}</option>
        <option value="document_language">{% trans "Document Language" %}</option>
        <option value="access_type">{% trans "Access Type" %}</option>
    </select>
</div>
{% endif %}

<h4 class="my-2 pt-1">{% trans "Filters" %}</h4>

<div class="form-group mb-3">
    <label class="form-label" for="collection">{% trans "Collection" %}</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="collection" name="collection" class="form-control" aria-label="{% trans 'Collection' %}">
                <option></option>
                <option value="arg">{% trans "Argentina" %}</option>
                <option value="bol">{% trans "Bolivia" %}</option>
                <option value="scl">{% trans "Brazil" %}</option>
                <option value="chl">{% trans "Chile" %}</option>
                <option value="col">{% trans "Colombia" %}</option>
                <option value="cri">{% trans "Costa Rica" %}</option>
                <option value="cub">{% trans "Cuba" %}</option>
                <option value="dom">{% trans "Dominican Republic" %}</option>
                <option value="ecu">{% trans "Ecuador" %}</option>
                <option value="mex">{% trans "Mexico" %}</option>
                <option value="per">{% trans "Peru" %}</option>
                <option value="prt">{% trans "Portugal" %}</option>
                <option value="pry">{% trans "Paraguay" %}</option>
                <option value="esp">{% trans "Spain" %}</option>
                <option value="sza">{% trans "South Africa" %}</option>
                <option value="ury">{% trans "Uruguay" %}</option>
                <option value="ven">{% trans "Venezuela" %}</option>
                <option value="wid">{% trans "West Indies" %}</option>
                <option value="cic">{% trans "Science and Culture" %}</option>
                <option value="psi">{% trans "PEPSIC" %}</option>
                <option value="spa">{% trans "Public Health" %}</option>
                <option value="rve">{% trans "REVENF" %}</option>
            </select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="collection_bool_not" title="{% trans 'Click to activate not operator' %}">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="publisher">{% trans "Publisher" %}</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="publisher" name="publisher" class="form-control" aria-label="{% trans 'Publisher' %}"></select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="publisher_bool_not" title="{% trans 'Click to activate not operator' %}">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="journal">{% trans "Journal" %}</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="journal" name="journal" class="form-control" aria-label="{% trans 'Journal' %}"></select>
        </div>
        <button aria-pressed="false" class="btn btn-outline input-group-right toggle-not" type="button" id="journal_bool_not" title="{% trans 'Click to activate not operator' %}">NOT</button>
    </div>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>{% trans "Document" %}</strong>
</div>

<div class="form-group mb-3">
  <label class="form-label" for="document_publication_year_start">{% trans "Publication Year" %}</label>
  <div class="input-group">
    <input
      id="document_publication_year_start"
      name="document_publication_year_start"
      type="text"
      class="form-control is-height-2-4"
      aria-label="{% trans 'Publication Year Start' %}"
      placeholder="{% trans 'Start' %}"
      value="2015"
    />
    <input
      id="document_publication_year_end"
      name="document_publication_year_end"
      type="text"
      class="form-control is-height-2-4"
      aria-label="{% trans 'Publication Year End' %}"
      placeholder="{% trans 'End' %}"
      value="2024"
    />
  </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_type">{% trans "Document Type" %}</label>
    <select multiple id="document_type" name="document_type" class="form-control" aria-label="{% trans 'Type' %}"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_language">{% trans "Document Language" %}</label>
    <div class="d-flex align-items-start justify-content-between">
        <div class="select-left flex-grow-1">
            <select multiple id="document_language" name="document_language" class="form-control" aria-label="{% trans 'Language' %}"></select>
        </div>
        <div class="select-right">
            <select id="document_language_operator" name="document_language_operator" class="form-control" aria-label="{% trans 'Language Query Operator' %}">
                <option value="and" selected>AND</option>
                <option value="or">OR</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="access_type">{% trans "Access Type" %}</label>
    <select multiple id="access_type" name="access_type" class="form-control" aria-label="{% trans 'Access Type' %}"></select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>{% trans "Author Affiliation" %}</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="institution">{% trans "Institution" %}</label>
    <select multiple id="institution" name="institution" class="form-control" aria-label="{% trans 'Institution' %}"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country">{% trans "Country" %}</label>
    <div class="d-flex align-items-start justify-content-between">
        <div class="select-left flex-grow-1">
           <select multiple id="country" name="country" class="form-control" aria-label="{% trans 'Country' %}"></select>
        </div>
        <div class="select-right">
            <select id="country_operator" name="country_operator" class="form-control" aria-label="{% trans 'Country Query Operator' %}">
                <option value="and" selected>AND</option>
                <option value="or">OR</option>
            </select>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    // Populate filters
    try {
        const data = await fetchFilters('scielo');
        populateSelectFilters(
            // Filters data retrieved from the index API
            data,
            // Fields that we don't want to populate because they are handled differently
            [
              'breakdown_variable',
              'collection',
              'country_operator',
              'document_language_operator',
              'document_publication_year_end',
              'document_publication_year_start',
              'institution',
              'journal',
              'publisher',
            ]
        );
    } catch (error) {
        console.error('Error loading filters', error);
    }

    // Initialize datepicker fields
    const yearFields = [
        'document_publication_year_start',
        'document_publication_year_end',
    ];
    yearFields.forEach(fieldId => {
        setupDatePicker(fieldId);
    });

    // Initialize singleselect fields
    const singleSelectFieldsOpts = [
        ["access_type", gettext('Select an access type'), false, true],
        ["breakdown_variable", gettext('Select a breakdown variable'), false, true],
        ["collection", gettext('Select a collection'), false, true],
        ["country_operator", "", false, false],
        ["document_language_operator", "", false, false],
        ["document_type", gettext('Select a document type'), false, true],
    ];
    singleSelectFieldsOpts.forEach(([fieldId, fieldPlaceholder, allowSearch, allowClear]) => {
        setupSelect2Single(fieldId, fieldPlaceholder, allowSearch, allowClear);
    });

    // Initialize multiselect fields with boolean operators
    const multiSelectFieldsOpts = [
        ["country", gettext('Search for a country'), false],
        ["document_language", gettext('Search for a language'), false],
    ];
    multiSelectFieldsOpts.forEach(([fieldId, fieldPlaceholder, allowClear]) => {
        setupSelect2Multiple(fieldId, fieldPlaceholder, allowClear);
    });

    // Initialize SearchAsYouType fields
    const saytFieldsOpts = [
        ["institution", "scielo", gettext('Search for an institution'), true],
        ["journal", "scielo", gettext('Search for a journal'), true],
        ["publisher", "scielo", gettext('Search for a publisher'), true],
    ];
    saytFieldsOpts.forEach(([fieldId, fieldDataSource, fieldPlaceholder, allowClear]) => {
        setupSelect2SearchAsYouType(fieldId, fieldDataSource, fieldPlaceholder, allowClear);
    });
});
</script>