{% if study_unit != 'journal' %}
<h4 class="my-2">Graph Options</h4>

<div class="form-group mb-3">
    <label for="breakdown_variable" class="form-label">Breakdown Variable</label>
    <select id="breakdown_variable" class="form-control" name="breakdown_variable">
        <option value="">Select a variable</option>
        <option value="source_index_open_alex">Source Index (OpenAlex)</option>
        <option value="source_index_scielo">Source Index (SciELO)</option>
        <option value="source_type">Source Type</option>
        <option value="document_type">Document Type</option>
        <option value="document_language">Document Language</option>
        <option value="open_access">Open Access</option>
        <option value="access_type">Access Type</option>
        <option value="subject_area_level_0">Subject Area Level 0</option>
        <option value="subject_area_level_1">Subject Area Level 1</option>
        <option value="subject_area_level_2">Subject Area Level 2</option>
        <option value="region_world">Author Affiliation - Region (World)</option>
    </select>
</div>
{% endif %}

<h4 class="my-2 pt-1">Filters</h4>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Source</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_index_open_alex">Source Index (OpenAlex)</label>
    <select multiple id="source_index_open_alex" class="form-control" name="source_index_open_alex" aria-label="Source Index (OpenAlex)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_index_scielo">Source Index (SciELO)</label>
    <select multiple id="source_index_scielo" class="form-control" name="source_index_scielo" aria-label="Source Index (SciELO)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_type">Source Type</label>
    <select multiple id="source_type" class="form-control" name="source_type" aria-label="Source Type">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_name">Source Name</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="source_name" class="form-control" name="source_name" aria-label="Source Name"></select>
        </div>
        <button class="btn btn-outline input-group-right toggle-not" type="button" id="source_name_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="source_country">Source Country</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="source_country" class="form-control" name="source_country" aria-label="Source Country"></select>
        </div>
        <button class="btn btn-outline input-group-right toggle-not" type="button" id="source_country_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="issn">ISSN</label>
    <select id="issn" class="form-control" name="issn" aria-label="ISSN"></select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Document</strong>
</div>

<div class="form-group mb-3">
  <label class="form-label" for="document_publication_year_start">Publication Year</label>
  <div class="input-group">
    <input
      id="document_publication_year_start"
      name="document_publication_year_start"
      type="text"
      class="form-control"
      aria-label="Publication Year Start"
      placeholder="Start"
      value="2015"
    />
    <input
      id="document_publication_year_end"
      name="document_publication_year_end"
      type="text"
      class="form-control"
      aria-label="Publication Year End"
      placeholder="End"
      value="2024"
    />
  </div>
</div>


<div class="form-group mb-3">
    <label class="form-label" for="document_type">Document Type</label>
    <select multiple id="document_type" class="form-control" name="document_type" aria-label="Type"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="document_language">Document Language</label>
    <div class="input-group">
        <div class="flex-grow-1 position-relative input-group-left">
            <select id="document_language" class="form-control" name="document_language" aria-label="Document Language">
                <option></option>
            </select>
        </div>
        <button class="btn btn-outline input-group-right toggle-not" type="button" id="document_language_bool_not" title="Click to activate not operator">NOT</button>
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="open_access">Open Access</label>
    <select id="open_access" class="form-control" name="open_access" aria-label="Open Access">
        <option></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="access_type">Access Type</label>
    <select multiple id="access_type" class="form-control" name="access_type" aria-label="Access Type">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_0">Subject Area Level 0</label>
    <select multiple id="subject_area_level_0" class="form-control" name="subject_area_level_0" aria-label="Subject Area Level 0">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_1">Subject Area Level 1</label>
    <select multiple id="subject_area_level_1" class="form-control" name="subject_area_level_1" aria-label="Subject Area Level 1">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="subject_area_level_2">Subject Area Level 2</label>
    <select multiple id="subject_area_level_2" class="form-control" name="subject_area_level_2" aria-label="Subject Area Level 2">
    </select>
</div>

<div class="h6 pb-2 mt-4 border-bottom text-primary">
  <strong>Author Affiliation</strong>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="institution">Institution</label>
    <select multiple id="institution" class="form-control" name="institution" aria-label="Institution">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="region_world">Region (World)</label>
    <select multiple id="region_world" class="form-control" name="region_world" aria-label="Region (World)">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country">Country</label>
    <select multiple id="country" class="form-control" name="country" aria-label="Country">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="country_operator">Country Query Operator</label>
    <select id="country_operator" name="country_operator" class="form-control" aria-label="Country Query Operator">
        <option value="and">AND</option>
        <option value="or" selected>OR</option>
    </select>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    try {
        // Populate filters
        const data = await fetchFilters('brazil');
        populateSelectFilters(
            // Filters data retrieved from the index API
            data,
            // Fields that we don't want to populate because they are handled differently
            [
              'breakdown_variable',
              'open_access',
              'document_publication_year_start',
              'document_publication_year_end',
              'country_operator',
              'source_name',
              'source_country',
              'issn',
              'institution',
            ]
        );
    } catch (error) {
        console.error('Error loading filters', error);
    }

        // Initialize Bootstrap Datepicker for year fields
    const yearFields = [
        'document_publication_year_start',
        'document_publication_year_end',
    ];
    yearFields.forEach(fieldId => {
        const yearInput = document.getElementById(fieldId);
        if (yearInput) {
            $(yearInput).datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
                startDate: '1900',
                endDate: '2100'
            });
        }
    });

    try {
        // Initialize Select2 for multi select fields
        const multiSelectFields = [
            'source_index_open_alex',
            'source_index_scielo',
            'source_type',
            'document_type',
            'access_type',
            'subject_area_level_0',
            'subject_area_level_1',
            'subject_area_level_2',
            'region_world',
            'country'
        ];
        multiSelectFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                $(selectElement).select2(
                  {
                    placeholder: 'Start typing to search...',
                    theme: 'bootstrap-5',
                  }
                ).on('select2:open', function(e) {
                    document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
                });
            }
        });

        // Initialize Select2 for single select fields
        const singleSelectFields = [
            'document_language',
            'open_access',
            'breakdown_variable',
            'country_operator',
        ];
        singleSelectFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                $(selectElement).select2(
                  {
                    placeholder: 'Start typing to search...',
                    allowClear: true,
                    theme: 'bootstrap-5',
                  }
                ).on('select2:open', function(e) {
                    document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
                });
            }
        });

        // Initialize Select2 for special select fields
        const specialSelectFields = [
          'source_country',
          'source_name',
          'issn',
          'institution',
        ];
        specialSelectFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                let dsname;
                if (fieldId === 'institution') {
                  dsname = 'brazil';
                } else {
                  dsname = 'sources';
                }
                $(selectElement).select2(
                  {
                    ajax: {
                        url: `/search-gateway/search-item/?field_name=${fieldId}&data_source=${dsname}`,
                        dataType: 'json',
                        delay: 300,
                        data: params => ({ q: params.term }),
                        processResults: data => {
                            return {
                                results: data.results.map(item => ({
                                    id: item.key,
                                    text: item.key
                                }))
                            };
                        }
                    },
                    minimumInputLength: 2,
                    placeholder: 'Start typing to search...',
                    theme: 'bootstrap-5',
                    allowClear: true
                  }
                ).on('select2:open', function(e) {
                    document.querySelector(`[aria-controls="select2-${e.target.id}-results"]`).focus();
                });
            }
        });
    } catch (error) {
        console.error('Error initializing Select2', error);
    }
});

</script>