<h4 class="my-2">Graph Options</h4>

<div class="form-group mb-3">
  <label for="study_unit" class="form-label">Study Unit</label>
  <select id="study_unit" class="form-control" name="study_unit">
    <option value="journal" disabled>Journal</option>
    <option value="document" selected>Document</option>
    <option value="citation" disabled>Citation</option>
  </select>
</div>

<div class="form-group mb-3">
  <label for="breakdown_variable" class="form-label">Breakdown Variable</label>
  <select id="breakdown_variable" class="form-control" name="breakdown_variable">
    <option value="">Select a variable</option>
    <option value="directory_type">Directory Type</option>
    <option value="action">Action</option>
    <option value="classification">Classification</option>
    <option value="practice">Practice</option>
    <option value="institution">Institution</option>
    <option value="state_brazil">State (Brazil)</option>
    <option value="city_brazil">City (Brazil)</option>
  </select>
</div>

<h4 class="my-2 pt-1">Filters</h4>

<div class="form-group mb-3">
  <label class="form-label" for="publication_year_start">Publication Year</label>
  <div class="input-group">
    <input
      id="document_publication_year_start"
      name="document_publication_year_start"
      type="number"
      class="form-control"
      aria-label="Publication Year Start"
      min="1900"
      max="2100"
      placeholder="Start"
      value="2015"
    />
    <input
      id="document_publication_year_end"
      name="document_publication_year_end"
      type="number"
      class="form-control"
      aria-label="Publication Year End"
      min="1900"
      max="2100"
      placeholder="End"
      value="2024"
    />
  </div>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="directory_type">Directory Type</label>
    <select multiple id="directory_type" class="form-control" name="directory_type" aria-label="Directory Type">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="action">Action</label>
    <select multiple id="action" class="form-control" name="action" aria-label="Action">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="classification">Classification</label>
    <select multiple id="classification" class="form-control" name="classification" aria-label="Classification">
    </select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="practice">Practice</label>
    <select multiple id="practice" class="form-control" name="practice" aria-label="Practice"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="institution">Institution</label>
    <select multiple id="institution" class="form-control" name="institution" aria-label="Institution"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="state_brazil">State (Brazil)</label>
    <select multiple id="state_brazil" class="form-control" name="state_brazil" aria-label="State (Brazil)"></select>
</div>

<div class="form-group mb-3">
    <label class="form-label" for="city_brazil">City (Brazil)</label>
    <select multiple id="city_brazil" class="form-control" name="city_brazil" aria-label="City (Brazil)">
    </select>
</div>

<script>
document.addEventListener('DOMContentLoaded', async () => {
    try {
        // Populate filters
        const data = await fetchFilters('social');
        populateSelectFilters(
            // Filters data retrieved from the index API
            data,
            // Fields that we don't want to populate because they are handled differently
            [
              'document_publication_year_start',
              'document_publication_year_end', 
            ]
        );
    } catch (error) {
        console.error('Error loading filters', error);
    }

    try {
        // Initialize Select2 for multi select fields
        const selectFields = [
            'directory_type',
            'action',
            'classification',
            'practice',
            'institution',
            'state_brazil',
            'city_brazil',
        ];
        selectFields.forEach(fieldId => {
            const selectElement = document.getElementById(fieldId);
            if (selectElement) {
                $(selectElement).select2(
                  {placeholder: 'Start typing to search...'}
                );
            }
        });
    } catch (error) {
        console.error('Error initializing Select2', error);
    }
});

</script>