{% load i18n %}

<div class="tabs tabs-alt tabs-justify clearfix ui-tabs ui-corner-all ui-widget ui-widget-content" id="tab-10">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#tabs-data" tabindex="0">
                {% trans 'Dados computados' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tabs-dark-decal" tabindex="1">
                {% trans 'Gráfico texturizado e modo escuro' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tabs-dark" tabindex="2">
                {% trans 'Gráfico modo escuro' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tabs-std" tabindex="3">
                {% trans 'Gráfico' %}
            </a>
        </li>
    </ul>

    <div class="tab-container">
        <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-data" aria-labelledby="ui-id-tabs-data" role="tabpanel" aria-hidden="false" style="display: block;">
            {% if object.summarized.items %} 
                
                <div class="row justify-content-md-left small">
                    <div class="col-md-auto">
                        <table class="table table-striped">
                            <tbody>
                                {% for row in object.summarized.items %}
                                <tr>
                                    {% for key, val in row.items %}
                                        {% if key == 'count' %}
                                            <td class="text-right">{{ val }}</td>
                                        {% else %}
                                            <td class="text-left">{{ val }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-dark" aria-labelledby="ui-id-tabs-dark" role="tabpanel" aria-hidden="true" style="display: none;">
            {% include 'indicator/echarts/bar-y-category-stack.dark.html' %}
        </div>
        <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-dark-decal" aria-labelledby="ui-id-tabs-dark-decal" role="tabpanel" aria-hidden="true" style="display: none;">
            {% include 'indicator/echarts/bar-y-category-stack.dark-decal.html' %}
        </div>
        <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-std" aria-labelledby="ui-id-tabs-std" role="tabpanel" aria-hidden="true" style="display: none;">
            {% include 'indicator/echarts/bar-y-category-stack.html' %}
        </div>
    </div>

</div>