{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load translate %}
{% load sizify %}

{% get_settings use_default_site=True %}

{% block extra_css %}
<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'js/echarts/theme/roma-macarons-macarons2-infographic.js' %}"></script>


{% endblock %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}

<section id="content">
    <div class="content-wrap pt-0">
        <div class="container clearfix">
            <div class="section m-1 p-1 mt-4">

                <form action="/search" method="GET" class="form busca m-1 mt-2 mb-2" id="search">
                    <div class="container">

                        <!-- row 1 -->
                        <div class="row">

                            <!-- col 6 -->
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input class="form-control" id="q" name="q" value="{{ search_query }}"
                                    placeholder="{% trans 'Digite sua pesquisa...' %}">
                            </div>

                            <!-- col 2 -->
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <button class="btn btn-primary" id="search-button" for="search" type="submit">{% trans "Buscar" %}</button>
                                <!-- <a href="#" class="ml-3">
                      {% trans "Help" %}
                      <i class="icon-line-help-circle"></i>
                    </a> -->
                            </div>

                            <!-- col 2 -->
                            <div class="col-sm-2 col-md-2 col-lg-2 pl-0 text-right">

                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <br>
            <br>
            <section class="page-title bg-transparent">
                <div class="container">
                    <div class="page-title-row">
                        <div class="page-title-content">
                            <h2 style="margin-bottom: 5px;">{{ object.title }}</h2>
                            <span>{{ object.description }}</span>
                        </div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item mt-5"><a href="/">Home</a></li>
                                <li class="breadcrumb-item mt-5"><a href="#" onClick="history_fall_back()">Search</a>
                                </li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">Charts</li> -->
                            </ol>
                        </nav>
                    </div>
                </div>
            </section>

            <br>
            <br>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-toggle="tab" href="#ex2-tabs-1" role="tab"
                        aria-controls="ex2-tabs-1" aria-selected="true">Gráfico<i class="bi-people fs-2 m-0"></i></a>
                </li>
                {% if object.indicator_file.all %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex2-tab-2" data-toggle="tab" href="#ex2-tabs-2" role="tab"
                            aria-controls="ex2-tabs-2" aria-selected="false">Dados</a>
                    </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex2-tab-3" data-toggle="tab" href="#ex2-tabs-3" role="tab"
                        aria-controls="ex2-tabs-3" aria-selected="false">Sobre</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                    <div class="mb-5 mx-auto" style="max-width: 100%; min-height: 100%;">
                        <div id="graph" style="position: relative; height:70vh; width:60vw"></div>
                    </div>
                </div>
                {% if object.indicator_file.all %}
                    <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">

                        <div class="list-group">
                            {% for f in object.indicator_file.all %}
                                <a href="{{ f.raw_data.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Download {{ forloop.counter }}</h5>
                                        <small>{{ f.name }}</small>
                                    </div>
                                    <p class="mb-1">Arquivo compactado em .zip.</p>
                                    <small>Tamanho: {{ f.raw_data.size|sizify }}</small>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">
                    {{ object.description }}
                </div>
            </div>

            <br>
            <br>

            <!-- Tabs content -->

            <div class="container">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons"
                        style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Este
                obra está licenciado com uma Licença <a rel="license"
                    href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Atribuição 4.0
                    Internacional</a>.
            </div>
        </div>
    </div>
</section>
<!-- content -->

{% endblock %}


{% block inline_javascript %}

<script type="text/javascript">

    function history_fall_back(fallbackUrl) {
        fallbackUrl = fallbackUrl || '/search';

        if (document.referrer == "") {
            window.location.href = fallbackUrl
        } else {
            window.history.go(-1);
        }

    }

    var dom = document.getElementById('graph');
    var chart = echarts.init(dom, {
        renderer: 'svg',
        useDirtyRect: false,
    });

    var app = {};

    var option;

    option = {
        title: {
            show: true,
            text: "{{ object.title }}",
            textAlign: 'auto',
        },
        tooltip: {
            trigger: 'axis',
            // formatter: function (params) {
            //   console.log(params);
            //   return `${params.seriesName}<br />
            //           ${params.name}: ${params.value}<br />`;
            // }
        },
        grid: {
            left: '1%',
            right: '30%',
            bottom: '3%',
            containLabel: true
        },
        legend: {
            type: 'scroll',
            orient: 'vertical',
            x: 'right',
            //left: '90%',
            top: '5%',
            bottom: '10%',
            show: true,
        },
        toolbox: {
            orient: 'horizontal',
            feature: {
                magicType: {
                    type: ['line', 'bar', 'stack'],
                },
                dataView: {},
                saveAsImage: { show: true },
                restore: { show: true }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            },
            {
                type: 'slider'
            }
        ],
        xAxis: [
            {
                type: 'category',
                data: {{ chart_keys|safe }}
            }
        ],
    yAxis: [
        {
            type: 'value'
        }
    ],
        series: {{ chart_series | safe }}
    };

    if (option && typeof option === 'object') {
        chart.setOption(option);
    }

    window.addEventListener('resize', chart.resize);
</script>

{% endblock inline_javascript %}