{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load wagtailsettings_tags %}
{% load translate %}

{% get_settings use_default_site=True %}

{% block title %}
    {{ object.title }}
{% endblock title %}

{% block content %}
<section id="content">
  <div class="content-wrap pt-0">
    <div class="container clearfix">
      <div class="section m-1 p-1 mt-4">

        <h1>{{ object.title }}</h1>

        {% if object.disclaimer %}
            <div class="alert alert-warning alert-dismissible fade show mt-1" role="alert">
            <strong>{% trans "Atenção" %}: </strong> {{ object.disclaimer }}
            </div>
        {% endif %}

        <!-- Navegação entre as versões -->
        <div class="container">
            <nav aria-label="...">
                <ul class="pagination">

                    <li class="page-item">
                        {% if object.previous_record %}
                            <a class="page-link" href="{% url 'search:indicator_detail' object.previous_record.slug %}">
                                < {% trans 'versões anteriores' %}
                            </a>
                        {% endif %}
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">
                            {% trans object.validity|translate_data %} |
                            {% trans 'Gerado' %}: {{ object.created|date:"Y-m-d" }}
                        </a>
                    </li>
                    <li class="page-item">
                        {% if object.posterior_record %}
                            <a class="page-link" href="{% url 'search:indicator_detail' object.posterior_record.slug %}">
                                {% trans 'versões posteriores' %} >
                            </a>
                        {% endif %}
                    </li>
                    <li class="page-item">
                        {% if object.latest and object.latest.id != object.id %}
                            <a class="page-link" href="{% url 'search:indicator_detail' object.latest.slug %}">
                                {% trans 'ir para a versão mais recente' %}
                            </a>
                        {% endif %}
                    </li>

                </ul>
            </nav>
        </div>

        <div class="container">
            <p>
                {% if object.action_and_practice %}
                    {% if object.action_and_practice.action %}
                        <span class="badge badge-primary">
                            {{ object.action_and_practice.action.name|translate_data }}
                        </span>
                    {% endif %}
                    {% if object.action_and_practice.classification %}
                        <span class="badge badge-secondary">
                            {{ object.action_and_practice.classification|translate_data }}
                        </span>
                    {% endif %}
                    {% if object.action_and_practice.practice %}
                        <span class="badge badge-success">
                            {{ object.action_and_practice.practice.name|translate_data }}
                        </span>
                    {% endif %}
                {% endif %}
                <span class="badge badge-danger">{{ object.scope|translate_data }}</span>
                <span class="badge badge-warning">{{ object.measurement|translate_data }}</span>
            </p>
        </div>

        <div class="container">
            {% if object.keywords.all %}
                <h4 class="mb-1 mt-4">{% trans 'Palavras-chave' %}</h4>
                <p>
                    {% for item in object.keywords.all %}
                        <span class="badge badge-info">{{ item.name }}</span>
                    {% endfor %}
                </p>
            {% endif %}
        </div>

        <div class="container">
            {% if object.description %}
                <h4 class="mb-1 mt-4">{% trans 'Descrição' %}</h4>
                <p>{{ object.description }}</p>
            {% endif %}
        </div>

        <div class="container">
            {% if object.institutional_contribution %}
                <h4 class="mb-1 mt-4">{% trans "Contribuição" %}</h4>
                <p>{{ object.institutional_contribution }}</p>
            {% endif %}
        </div>

        <div class="container">
            {% if object.link or object.link_to_data or object.link_to_graphic %}
                <h4 class="mb-1 mt-4">{% trans "Links externos" %}</h4>
            {% endif %}

            {% if object.link_to_data %}
                <h4 class="mb-1 mt-4">{% trans "Link to the data" %}</h4>
                <p>
                    <a href="{{ object.link_to_data }}">{{ object.link_to_data }}</a>
                </p>
            {% endif %}
            
            {% if object.link_to_graphic %}
                <h4 class="mb-1 mt-4">{% trans 'Link to the graphic' %}</h4>
                <p>
                    <a href="{{ object.link_to_graphic }}">{{ object.link_to_graphic }}</a>
                </p>
            {% endif %}

            {% if object.link %}
                <h4 class="mb-1 mt-4">{% trans 'Link para os indicadores' %}</h4>
                <p>
                    <a href="{{ object.link }}">{{ object.link }}</a>
                </p>
            {% endif %}
        </div>

        {% if object.raw_data or object.summarized %}
            <div class="container">
                <h4 class="mb-1 mt-4">Downloads dos dados</h4>
                <p>
                    {% if object.record_status == 'WIP' %}
                        <a href="#">{% trans 'dados brutos' %}{% trans 'em processamento' %}</a>
                    {% else %}
                        <a href="{% url 'search:indicator_raw_data' object.slug %}">{% trans 'dados brutos' %}</a>
                    {% endif %}
                    |
                    <a href="{% url 'search:indicator_summarized' object.slug %}">{% trans 'dados computados' %}</a>
                </p>
            </div>
        {% endif %}

        <div class="container">{% include 'indicator/abas.html' %}</div>

        <div class="container">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Este obra está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Atribuição 4.0 Internacional</a>.
        </div>
    </div>
  </div>
</section>

<!-- content -->
{% endblock %}
