{% extends "wagtailadmin/login.html" %}
{% load i18n %}
{% load static %}
{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags i18n %}
{% load wagtailsettings_tags %}

{% get_settings use_default_site=True %}

{% block branding_login %}{% trans 'Administrative area of ' %}{{ settings.core_settings.CustomSettings.name }}{% endblock %}

{% block branding_logo %}
<div class="login-logo">
    {% if settings.core_settings.CustomSettings.admin_logo %}
        {% image settings.core_settings.CustomSettings.admin_logo max-60x60 as logo %}
            <img class="login-logo-img" src="{{ logo.url }}" alt="logo"/>
    {% else %}
            <img class="login-logo-img" src="{% static 'images/logos/logo_negative100x100.png' %}" alt="SciELO logo"/>
    {% endif %}
</div>
{% endblock %}